<div class="background-blue p-1 p-md-4 profile-page pt-3 pt-md-0">
    <div class="container">
        <div class="d-flex profile-details mb-3 ">
            <div class="profile-image" class="img-fluid">
                <img ng-src="{{jstrgValue.profilePic | serverimage}}" alt="Ticket_circle-icon" width="100%" ng-if="jstrgValue.profilePic">
                <img ng-src="{{jstrgValue.photo |serverimage}}" alt="Ticket_circle-icon" width="100%" ng-if="jstrgValue.photo && !jstrgValue.profilePic">
                <img src="img/emptyProfile.png" ng-if="!(jstrgValue.profilePic || jstrgValue.photo)" alt="Ticket_circle-icon">
                <div class="profile-photo-upload">
                    <upload-image image-src="../img/camera1.png" image-class="profile-upload" ng-model="jstrgValue.profilePic"
                        noStatus="true" no-view callback="reload();"></upload-image>
                    <!-- <upload-image ng-model="data.productImages" no-status="true"></upload-image> -->
                </div>
            </div>
            <div class="text-white fontRobotoRegular font14 ml-3 ml-md-5">
                <div class="font20">{{userDataForProfile.name}}</div>
                <!-- <div class="my-1">(Code: 123456)</div> -->
                <div class="d-block d-md-flex my-1">
                    <div class="d-inline-block">Phone Number :</div>
                    <div class="ml-0 ml-md-3" ng-if="userDataForProfile.mobile">{{userDataForProfile.mobile}} </div>
                    <div class="ml-0 ml-md-3" ng-if="!userDataForProfile.mobile">
                        - - -
                    </div>
                    <div class="d-none d-md-block ml-3" ng-if="verifyMobile">
                        <img src="img/chekmark.png">
                    </div>
                </div>
                <div class="d-block d-md-flex my-1">
                    <div class="d-inline-block">Email Address : </div>
                    <div class="ml-0 ml-md-3" ng-if="userDataForProfile.email">{{userDataForProfile.email}}</div>
                    <div class="ml-0 ml-md-3" ng-if="!userDataForProfile.email"></div>
                    <div class="d-none d-md-block ml-3">
                        <img src="img/chekmark.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container profile-page-subsection">
    <div class="bg-white border-rounded p-4 my-2 productreg">
        <h6 class="fontRobotoBold blue-color my-2 space-letter">PERSONAL INFORMATION
            <span class="float-right info-icon cursor-point" ng-click="personalInfo=!personalInfo">
                <i class="fas fa-pencil-alt fa-xs"></i>
            </span>
        </h6>
        <div class="pb-4 border-dashed-bottom">
            <div class="row">
                <div class="col-5 col-md-3 col-lg-2">
                    <div class="fontRobotoRegular dark-font-color font14">
                        <div class="my-2">Gender</div>
                        <div class="my-2">Date of Birth</div>
                        <div class="my-2">Phone Number </div>
                        <div class="my-2">Email Address</div>
                    </div>
                </div>
                <div class="col-7 col-md-9 col-lg-10">
                    <div class="fontRobotoLight font14">
                        <div ng-if="!personalInfo && userDataForProfile.gender" class="my-2 custom-input text-capitalize">
                            {{userDataForProfile.gender}}
                        </div>
                        <div ng-if="!personalInfo && !userDataForProfile.gender" class="my-2 custom-input">
                            - - -
                        </div>
                        <div ng-if="personalInfo">
                            <label class="radio-inline mr-3">
                                <input type="radio" name="optradio" value="Male" ng-model="userDataForProfile.gender">
                                Male
                            </label>
                            <label class="radio-inline mr-3">
                                <input type="radio" name="optradio" value="Female" ng-model="userDataForProfile.gender">
                                Female
                            </label>
                        </div>
                        <div class="custom-input" ng-if="personalInfo">
                            <input type="date" name="August" ng-model="userDataForProfile.dob">
                        </div>
                        <div class="custom-input" ng-if="!personalInfo && userDataForProfile.dob ">
                            {{ userDataForProfile.dob |date}}
                        </div>
                        <div class="custom-input" ng-if="!personalInfo && !userDataForProfile.dob ">
                            - - -
                        </div>
                        <div ng-if="!personalInfo && userDataForProfile.mobile " class="my-2 custom-input">
                            {{userDataForProfile.mobile}}
                        </div>
                        <div ng-if="!personalInfo && !userDataForProfile.mobile " class="mb-2 custom-input">
                            - - -
                        </div>
                        <div ng-if="personalInfo" class="mb-2 custom-input">
                            <input maxlength="10" type="text" class="mt-2 p-1" ng-model="userDataForProfile.mobile"
                                only-digits>
                        </div>
                        <div ng-if="!personalInfo" class="mb-2 custom-input">{{userDataForProfile.email}}</div>
                        <div ng-if="personalInfo" class="mb-2 custom-input">
                            <input type="email" ng-model="userDataForProfile.email">
                        </div>
                    </div>
                </div>
                <fieldset class="d-flex ml-3 social mt-3 mb-0 save " ng-if="personalInfo ">
                    <span class="social_icon ">
                        <i class="fas fa-save "></i>
                    </span>
                    <div class="social-text " ng-click="changeInfo(userDataForProfile) ">Save</div>
                </fieldset>
            </div>
        </div>
        <div class="py-4 border-dashed-bottom ">
            <div class="row no-gutters ">
                <div class="col-12 col-md-2 ">
                    <div class="fontRobotoRegular dark-font-color font14 ">
                        <div>Address</div>
                    </div>
                </div>
                <div class="col-11 col-md-9 ">
                    <div class="d-flex fontRobotoLight font-color font12 ">
                        <div class="p-2 background-gray mr-2 text-capitalize address-box " ng-repeat="addressData in userDataForProfile.address track by $index">
                            <div class="font14 dark-font-color fontRobotoRegular ">{{addressData.title}}
                                <span class="float-right p3 " ng-click="removeAddress($index) ">
                                    <i class="fas fa-times fa-sm "></i>
                                </span>
                                <span class=" float-right p3 " ng-click="editressModalOpen(addressData,$index); ">
                                    <i class="fas fa-pencil-alt fa-xs "></i>
                                </span>
                            </div>
                            <div>{{addressData.addressLine}}</div>
                            <div>{{addressData.state.region}}</div>
                            <div>{{addressData.city.city}}</div>
                            <div>{{addressData.pincode}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-1 col-md-1 ">
                    <span class="pl-0 pl-md-3 float-right info-icon cursor-point " ng-click="addressModalOpen(); ">
                        <i class="fas fa-plus "></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="py-4 ">
            <div class="row ">
                <div class="col-md-2 col-12 ">
                    <div class="fontRobotoRegular dark-font-color font14 ">
                        <div>Family Members</div>
                    </div>
                </div>
                <div class="col-md-10 col-12 ">
                    <div class="d-flex main-users scrollbar ">
                        <div ng-click="newUserModalOpen() " class="d-flex align-items-center bg-white border rounded existing-user
                            p-2 mr-3 cursor-point ">
                            <div class="user-circle "></div>
                            <div class="mx-2 fontRobotoRegular name-rel ">Add New Member</div>
                            <div class="fontRobotoLight ">
                                <i class="fas fa-plus "></i>
                            </div>
                        </div>
                        <div class="d-flex align-items-center existing-user p-2 mr-3 " ng-repeat="rel in userDataForProfile.relations ">
                            <div class="user-circle "></div>
                            <div class="mx-2 fontRobotoRegular name-rel ">
                                <div>{{rel.user.name}}</div>
                                <span class="fontRobotoLight ">{{rel.relationType}}</span>
                            </div>
                            <div class="fontRobotoLight " ng-click="removeRelation(rel._id) ">
                                <i class="fas fa-times "></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>