<div class="container py-md-5" ng-controller="headerCtrl">
    <div class="row ticket-creation-main">
        <div class="col col-md-3 openticketreminder">
            <tickets></tickets>
            <reminders></reminders>
        </div>

        <div class="col col-md-9 d-none d-md-block">
            <div class="support-chat-history">
                <h6 class="fontRobotoBold blue-color mb-4 text-uppercase">Closed Tickets
                </h6>
                <div class="bg-white border-rounded p-4 my-2 " ng-repeat="tickets in ticketData" ui-sref="closedTicketcreation({id:tickets._id})">
                    <div class="d-flex align-items-center ">
                        <div class="blue-circle "></div>
                        <h6 class="fontRobotoBold font14 ml-2 mb-0 ">{{tickets.ticketNumber}}</h6>
                        <!-- <span class="font12 font-color ml-2 d-inline-block w-25 text-truncate ">Dear Support Team, Maecenas faucibus mollis interdum. Etiam porta sem malesuada...</span> -->
                        <div class="ml-auto date-supportchat ">
                            <span class="font12 ">{{tickets.issueReported | date}}</span>
                        </div>
                        <div class="ml-auto green-color ">
                            <span class="font12 " ng-if="tickets.status=='Active'">Open</span>
                            <span class="font12 " ng-if="tickets.status=='Closed'">Closed</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>