<div class="heading-sec">
    <div class="row">
        <div class="col-md-12 column">
            <div class="heading-profile">
                <h2>Create Product</h2>
            </div>
        </div>
    </div>
</div>
<form name="newsForm" ng-submit="saveProduct(formdata)">
    <div class="widget">
        <div class="form-elements-sec">
            <div class="sec">
                <div class="form-group" fields>
                    <label>Product Name</label>
                    <input type="text" name="productname" placeholder="product name" ng-model="formdata.productname" class="form-control">

                </div>

                <div class="form-group">
                    <label>Serial No </label>
                    <input type="Number" name="serialNo" placeholder="serial No" ng-model="formdata.serialNo" class="form-control">

                </div>
                <div class="form-group">
                    <label>Model No </label>
                    <input type="text" name="modelNo" placeholder="model No" ng-model="formdata.modelNo" class="form-control">

                </div>
                <div class="form-group" fields ng-if="!showSaveButton">
                    <label>Product Image</label>
                    <div class="clearfix">
                        <div class="img-box" style="float:left;" ng-repeat="pro in formdata.productImages track by $index">
                            <img alt="" ng-src="{{pro.image|uploadpath}}" class="img-responsive uploadingImage img-thumbnail" />
                            <a class="btn btn-danger" ng-click="demo(pro.image)">Cancel</a>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Purchase date </label>
                    <input type="date" name="purchasedate" placeholder="purchase date" ng-model="formdata.purchasedate" class="form-control">

                </div>
                <div class="form-group">
                    <label>Purchase Price </label>
                    <input type="number" name="purchaseprice" placeholder="purchaseprice" ng-model="formdata.purchaseprice" class="form-control">

                </div>

                <div class="form-group" fields>
                    <label>Proof of Purchase</label>
                    <div class="clearfix">
                        <div class="img-box" style="float:left;" ng-repeat="pur in formdata.purchaseproof track by $index">
                            <img alt="" ng-src="{{pur.proofImage|uploadpath}}" class="img-responsive uploadingImage img-thumbnail" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Warranty Period </label>
                    <input type="text" name="warrantyPeriod" placeholder="warranty Period" ng-model="formdata.warrantyPeriod" class="form-control">

                </div>
                <div class="form-group">
                    <label>Warranty Expiry Date </label>
                    <input type="date" name="warrantyExpDate" placeholder="warranty ExpDate" ng-model="formdata.warrantyExpDate" class="form-control">

                </div>
                <div class="form-group">
                    <label>Warranty Card (only jpg, jpeg, png, doc or pdf file allowed and maximum size is 5Mb) </label>
                    <div class="clearfix">
                        <img alt="" ng-src="{{formdata.warrantyProof|uploadpath}}" class="img-responsive uploadingImage img-thumbnail" />
                        <div>
                        </div>

                        <div class="form-group">
                            <label>Insurance Period </label>
                            <input type="text" name="insurancePeriod" placeholder="insurance Period" ng-model="formdata.insurancePeriod" class="form-control">

                        </div>
                        <div class="form-group">
                            <label>Insurance Expiry Date </label>
                            <input type="date" name="insuranceExpDate" placeholder="insurance ExpDate" ng-model="formdata.insuranceExpDate" class="form-control">

                        </div>
                        <div class="form-group" ng-if="!showSaveButton">
                            <label>Insurance Card (only jpg, jpeg, png, doc or pdf file allowed and maximum size is 5Mb) </label>
                            <div class="clearfix">
                                <img alt="" ng-src="{{formdata.insuranceProof|uploadpath}}" class="img-responsive uploadingImage img-thumbnail" />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="text-center mt20 odd-even-button" ng-if="showSaveButton">
                    <button class="btn btn-default" ng-disabled="newsForm.$invalid" type="submit">Save</button>
                    <a class="btn btn-danger" ng-click="cancelEdit()">Cancel</a>

                </div>

</form>