<div class="heading-sec">
    <div class="row">
        <div class="col-md-12 column">
            <div class="heading-profile">
                <h2>Create Product</h2>
            </div>
        </div>
    </div>
</div>
<form name="newsForm" ng-submit="saveProduct(formdata)">
    <div class="widget">
        <div class="form-elements-sec">
            <div class="sec">
                <div class="form-group" fields>
                    <label>User</label>
                    <ui-select tagging tagging-label="(custom 'new' label)" ng-model="formdata.user" theme="bootstrap"
                        sortable="true" ng-disabled="ctrl.disabled" title="Choose a product" ng-required="true">
                        <ui-select-match class="selected-tags" placeholder="Select users">
                            <span ng-if="$select.selected.name">{{$select.selected.name}}</span>
                            <span ng-if="!$select.selected.name">{{$select.selected}}</span>
                        </ui-select-match>
                        <ui-select-choices repeat="user in users| filter:$select.search">
                            {{user.name}}
                            <span ng-bind="userData.name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="form-group" fields>
                    <label>Product Name * </label>
                    <input type="text" name="productname" placeholder="product name" ng-model="formdata.productName"
                        class="form-control" required>
                </div>
                <div class="form-group" fields>
                    <label>Brand * </label>
                    <input type="text" name="productname" placeholder="product name" ng-model="formdata.brand" class="form-control"
                        required>
                </div>
                <div class="form-group" fields>
                    <label>Retailer * </label>
                    <input type="text" name="productname" placeholder="product name" ng-model="formdata.retailer" class="form-control"
                        required>
                </div>
                <div class="form-group" fields>
                    <label>Product Invoice </label>
                    <!-- <upload-image multiple></upload-image> -->
                    <div class="imageUpload">
                        <a ng-href='{{formdata.productInvoicePR|serverimage}}' target="_blank" download>
                            <img multiple ng-src="{{formdata.productInvoicePR}}" alt="Download" width="104" height="142">
                        </a>
                    </div>
                </div>
                <div class="form-group" fields>
                    <label>Warranty Card </label>
                    <!-- <upload-image multiple></upload-image> -->
                    <div class="imageUpload">
                        <a ng-href='{{formdata.productInvoicePR|serverimage}}' target="_blank" download>
                            <img multiple ng-src="{{formdata.warrantyCardPR}}" alt="Download" width="104" height="142">
                        </a>
                    </div>
                </div>

                <div class="form-group">
                    <label>Serial No * </label>
                    <input type="text" name="serialNo" placeholder="serial No" ng-model="formdata.serialNo" class="form-control"
                        required>
                </div>
                <div class="form-group">
                    <label>Model No * </label>
                    <input type="text" name="modelNo" placeholder="model No" ng-model="formdata.modelNo" class="form-control"
                        required>
                </div>
                <div class="form-group" fields ng-if="!showSaveButton">
                    <label>Product Image * </label>
                    <div class="clearfix" ng-if="formdata.productImages">
                        <div class="img-box" style="float:left;" ng-repeat="pro in formdata.productImages track by $index">
                            <img alt="" ng-src="{{pro|uploadpath}}" class="img-responsive uploadingImage img-thumbnail" />
                            <a class="btn btn-danger" ng-click="removeProductImage($index)">Cancel</a>
                        </div>
                    </div>
                    <div ng-if="!formdata.productImages">
                        <upload-image multiple ng-model="formdata.productImages"></upload-image>
                    </div>
                </div>
                <div class="form-group">
                    <label>Purchase date * </label>
                    <input type="date" name="purchasedate" placeholder="purchase date" ng-model="formdata.purchaseDate"
                        class="form-control" required>

                </div>
                <div class="form-group">
                    <label>Purchase Price * </label>
                    <input type="number" name="purchaseprice" placeholder="purchaseprice" ng-model="formdata.purchasePrice"
                        class="form-control" required>
                </div>

                <div class="form-group" fields>
                    <label>Proof of Purchase</label>
                    <div class="clearfix" ng-if="formdata.purchaseProof">
                        <div class="img-box" style="float:left;" ng-repeat="pur in formdata.purchaseProof track by $index">
                            <img alt="" ng-src="{{pur|uploadpath}}" class="img-responsive uploadingImage img-thumbnail" />
                        </div>
                    </div>
                    <div ng-if="!formdata.purchaseProof">
                        <upload-image multiple ng-model="formdata.purchaseProof"></upload-image>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label>Warranty Period * </label>
                    <input type="text" name="warrantyPeriod" placeholder="warranty Period" ng-model="formdata.warrantyPeriod" class="form-control"
                        required>

                </div> -->
                <div class="form-group">
                    <label>Warranty Expiry Date * </label>
                    <input type="date" name="warrantyExpDate" placeholder="warranty ExpDate" ng-model="formdata.warrantyExpDate"
                        class="form-control" required>
                </div>
                <!-- <div class="form-group" fields>
                    <label>Warranty Card</label>
                    <div class="clearfix" ng-if="formdata.warrantyCardImage">
                        <div class="img-box" style="float:left;" ng-repeat="warrntyImage in formdata.warrantyCardImage track by $index">
                            <img alt="" ng-src="{{warrntyImage|uploadpath}}" class="img-responsive uploadingImage img-thumbnail" />
                        </div>
                    </div>
                    <div ng-if="!formdata.warrantyCardImage">
                        <upload-image multiple ng-model="formdata.warrantyCardImage"></upload-image>
                    </div>
                </div> -->

                <div class="form-group">
                    <label>Insurance Expiry Date </label>
                    <input type="date" name="insuranceExpDate" placeholder="insuranceExpDate" ng-model="formdata.insuranceExpDate"
                        class="form-control">
                </div>
                <div class="form-group" fields>
                    <label>Insurance Card</label>
                    <div class="clearfix" ng-if="formdata.insuranceProofImage">
                        <div class="img-box" style="float:left;" ng-repeat="insuranceImage in formdata.insuranceProofImage track by $index">
                            <img alt="" ng-src="{{insuranceImage|uploadpath}}" class="img-responsive uploadingImage img-thumbnail" />
                        </div>
                    </div>
                    <div ng-if="!formdata.insuranceProofImage">
                        <upload-image multiple ng-model="formdata.insuranceProofImage"></upload-image>
                    </div>
                </div>

                <div class="form-group" fields>
                    <label>Status</label>
                    <select class="form-control" id="sel1" name="sellist1" ng-model="formdata.status" required>
                        <option>Pending</option>
                        <option>Confirmed</option>
                    </select>
                </div>




                <!-- <div class="form-group">
                    <label>Warranty Card (only jpg, jpeg, png, doc or pdf file allowed and maximum size is 5Mb)</label>
                    <div class="clearfix">
                        <img alt="" ng-src="{{formdata.warrantyProof|uploadpath}}" class="img-responsive uploadingImage img-thumbnail" />
                        <div>
                        </div>

                        <div class="form-group">
                            <label>Insurance Period * </label>
                            <input type="text" name="insurancePeriod" placeholder="insurance Period" ng-model="formdata.insurancePeriod" class="form-control">

                        </div>
                        <div class="form-group">
                            <label>Insurance Expiry Date </label>
                            <input type="date" name="insuranceExpDate" placeholder="insurance ExpDate" ng-model="formdata.insuranceExpDate" class="form-control">
                        </div>
                        <div class="form-group" ng-if="!showSaveButton">
                            <label>Insurance Card (only jpg, jpeg, png, doc or pdf file allowed and maximum size is 5Mb) </label>
                            <div class="clearfix">
                                <img alt="" ng-src="{{formdata.insuranceProof|uploadpath}}" class="img-responsive uploadingImage img-thumbnail" />
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="text-center mt20 odd-even-button">
                    <button class="btn btn-default" type="submit">Save</button>
                    <a class="btn btn-danger" ui-sref="viewproductpage({status:'Confirmed'})">Cancel</a>
                </div>
</form>