<div class="">
    <div class="pt-5 clearfix">
        <div class="float-left">
            <h6 class="m-0">List Of Product</h6>
        </div>
        <div class="float-right">
            <div class="d-inline-block">
                <div class="d-inline-block">
                    <form class="form-inline mr-auto mx-auto position-relative d-inline-block">
                        <div class="product-search">

                            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                        </div>
                    </form>
                    <div class="d-inline-block px-3">
                        <img src="img/sliders-h.svg" alt="Search-icon" class="" width="20">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="py-5">
        <div class="product-table table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">PO List</th>
                        <th scope="col" class="text-center">Date</th>
                        <th scope="col" class="text-center">C No.</th>
                        <th scope="col" class="text-center">Person/Company Name</th>
                        <th scope="col" class="text-center">Contact</th>
                        <th scope="col" class="text-center">Email Id</th>
                        <th scope="col" class="text-center">QTY</th>
                        <th scope="col" class="text-center">Payment</th>
                        <th scope="col" class="text-center">Deliver Date</th>
                        <th scope="col" class="text-center">Deliver Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>00125</td>
                        <td>30 june 2018</td>
                        <td>#00125</td>
                        <td>Person/Company Name</td>
                        <td>9401252536</td>
                        <td>Sample@gmail.com</td>
                        <td>64 Dark </td>
                        <td>
                            <span class="badge badge-pill badge-info p-2">Pending</span>
                        </td>

                        <td>8 Jully 2018</td>
                        <td>
                            <span class="badge badge-pill border border-info p-2">Pending</span>
                        </td>
                    </tr>
                    <tr>
                        <td>00125</td>
                        <td>30 june 2018</td>
                        <td>#00125</td>
                        <td>Person/Company Name</td>
                        <td>9401252536</td>
                        <td>Sample@gmail.com</td>
                        <td>64 Dark </td>
                        <td>
                            <span class="badge badge-pill badge-info p-2">Pending</span>
                        </td>
                        <td>8 Jully 2018</td>
                        <td>
                            <span class="badge badge-pill border border-info p-2">Pending</span>
                        </td>
                    </tr>
                    <tr>
                        <td>00125</td>
                        <td>30 june 2018</td>
                        <td>#00125</td>
                        <td>Person/Company Name</td>
                        <td>9401252536</td>
                        <td>Sample@gmail.com</td>
                        <td>64 Dark </td>
                        <td>
                            <span class="badge badge-pill badge-success p-2">Paid</span>
                        </td>
                        <td>8 Jully 2018</td>
                        <td>
                            <span class="badge badge-pill border border-success p-2">Paid</span>
                        </td>
                    </tr>
                    <tr>
                        <td>00125</td>
                        <td>30 june 2018</td>
                        <td>#00125</td>
                        <td>Person/Company Name</td>
                        <td>9401252536</td>
                        <td>Sample@gmail.com</td>
                        <td>64 Dark </td>
                        <td>
                            <span class="badge badge-pill badge-success p-2">Paid</span>
                        </td>

                        <td>8 Jully 2018</td>
                        <td>
                            <span class="badge badge-pill border border-success p-2">Paid</span>
                        </td>
                    </tr>
                    <tr>
                        <td>00125</td>
                        <td>30 june 2018</td>
                        <td>#00125</td>
                        <td>Person/Company Name</td>
                        <td>9401252536</td>
                        <td>Sample@gmail.com</td>
                        <td>64 Dark </td>
                        <td>
                            <span class="badge badge-pill badge-danger py-2">Cancelled</span>
                        </td>

                        <td>8 Jully 2018</td>
                        <td>
                            <span class="badge badge-pill border border-danger p-2">Cancelled</span>
                        </td>
                    </tr>
                    <tr>
                        <td>00125</td>
                        <td>30 june 2018</td>
                        <td>#00125</td>
                        <td>Person/Company Name</td>
                        <td>9401252536</td>
                        <td>Sample@gmail.com</td>
                        <td>64 Dark </td>
                        <td>
                            <span class="badge badge-pill badge-info p-2">Pending</span>
                        </td>
                        <td>8 Jully 2018</td>
                        <td>
                            <span class="badge badge-pill border border-info p-2">Pending</span>
                        </td>
                    </tr>
                    <tr>
                        <td>00125</td>
                        <td>30 june 2018</td>
                        <td>#00125</td>
                        <td>Person/Company Name</td>
                        <td>9401252536</td>
                        <td>Sample@gmail.com</td>
                        <td>64 Dark </td>
                        <td>
                            <span class="badge badge-pill badge-success p-2">Paid</span>
                        </td>
                        <td>8 Jully 2018</td>
                        <td>
                            <span class="badge badge-pill border border-success p-2">Paid</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>