<div class="">
    <div class="pt-5 clearfix">
        <div class="float-left">
            <h6 class="m-0">List Of Tickets</h6>
        </div>
        <div class="float-right">
            <div class="d-inline-block">
                <div class="d-inline-block">
                    <form class="form-inline mr-auto mx-auto position-relative d-inline-block">
                        <div class="product-search">
                            <input class="form-control" ng-change="getAllItems(search.keyword) " ng-model="search.keyword"
                                type="search" placeholder="Search" aria-label="Search">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="py-5">
        <div class="product-table table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Ticket No.</th>
                        <th scope="col" class="text-center">Issued Date</th>
                        <th scope="col" class="text-center">Product Name</th>
                        <th scope="col" class="text-center">User Name</th>
                        <th scope="col" class="text-center">User Email Id</th>
                        <th scope="col" class="text-center">User Contact No.</th>
                        <th scope="col" class="text-center">Status</th>
                        <th scope="col" class="text-center">Ticket</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="tickets in allTickets">
                        <td>{{tickets.ticketNumber}}</td>
                        <td>{{tickets.issueReported|date}}</td>
                        <td>{{tickets.product.productName}}</td>
                        <td>{{tickets.user.name}}</td>
                        <td>{{tickets.user.email}}</td>
                        <td>{{tickets.user.mobile}}</td>
                        <td>{{tickets.status}}</td>
                        <td ng-if="tickets.status=='Active'">
                            <span class="badge badge-pill badge-info p-2" ui-sref="ticketcreation({id: tickets._id})">Select</span>
                        </td>
                        <td ng-if="tickets.status=='Closed'">
                            <span class="badge badge-pill badge-success p-2" ui-sref="closedTicketcreation({id: tickets._id})">Closed</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-if="totalitems>5" class="float-right">
            <nav aria-label="...">
                <ul ng-change="changePage(currentPage); " uib-pagination total-items="totalitems" items-per-page="maxRow"
                    ng-model="currentPage" max-size="maxRow" class="pagination-sm" boundary-links="true" force-ellipses="true"></ul>
            </nav>
        </div>
    </div>
</div>