<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>{{showHeadLine}} View</h2>
            </div>
        </div>
    </div>
</div>
<!--Table-->
<div class=" panel-content ">
    <div class="row ">
        <div class="col-md-12 ">
            <div class="widget ">
                <div class="table-area ">
                    <div class="widget-title ">
                        <div class="pull-right">
                            <form class="search-form mr-form ">
                                <input type="text " ng-change="searchInTable(search) " placeholder="Search Here...
                             "
                                    ng-model="search" />
                            </form>
                            <!-- ng-if="checkStatus==Pending" -->
                            <a class="btn btn-success" ui-sref="createproductpage" ng-if="checkStatus=='Pending'">
                                Create
                            </a>

                        </div>
                        <h3>List of Product
                            <span class="tableTotal ">(Total : {{totalItems}}) </span>
                        </h3>
                    </div>

                    <div class="table-responsive">
                        <!--<div class="table-responsive " ng-show="totalItems>0 ">-->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>
                                        Product name
                                    </th>
                                    <th>Actions</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--<tr ng-repeat="item in items">-->
                                <tr ng-repeat="item in items">
                                    <!--<tr>-->
                                    <td>{{($index + 1)+((formData.page-1)*maxRow)}}</td>
                                    <!--<td>{{($index + 1)}}</td>-->
                                    <td>{{item.productName}}</td>
                                    <td>
                                        </a>
                                        <a class="btn btn-success" ng-click="viewUserDetail(item._id)">
                                            View Detail
                                        </a>
                                    </td>
                                    <td>
                                        </a>
                                        <a class="btn btn-danger" ng-click="deleteProduct(item._id)">
                                            Delete
                                        </a>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tableData " ng-show="totalItems===0 ">
                        <h5>No data found</h5>
                    </div>
                    <div class="tableData " ng-show="totalItems===undefined ">
                        <h5>Loading Data</h5>
                    </div>
                    <ul ng-if="totalItems" ng-change="viewTable() " uib-pagination total-items="totalItems "
                        items-per-page="maxRow
                        " ng-model="formData.page " max-size="template.pageMax "
                        class="pagination-sm " boundary-links="true " force-ellipses="true "></ul>
                </div>
            </div>
        </div>
    </div>
</div>