/* Breakpoint for medium viewport */

@include media-breakpoint-down(md) {
    .navbar {
        background-color: #142c5b !important;
    }
    h2 {
        font-size: 1.7rem;
    }
    .timeline {
        width: 100%;
        .circle1 {
            &:before {
                left: -5px;
            }
        }
        .circle2 {
            &:before {
                left: -32px;
            }
        }
        .circle3 {
            &:before {
                left: -35px;
            }
        }
        .circle4 {
            left: 94.5%;
            &:before {
                left: -35px;
            }
        }
        .circle:before {
            font-size: 8px;
        }
    }
    .support-timeline{
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        top: 365px;
        width: 160%;
        left: -320px;
        .circle{
            transform: rotate(-90deg);
            &:before{
                top: 0;
                left: 30px;
            }
        }
    }
    .section-spacing {
        margin: 0;
    }
    .padd-250 {
        padding-left: 15px;
    }
    .save,
    .add,
    .reminder {
        width: 40%;
    }
    .cancel {
        width: 35%;
        top: -6%;
        right: 2%;
    }
    .navbar-collapse{
        position: fixed;
        width: 80%;
        right: 0;
        height: 185%;
        background-color: white;
        z-index: 3;
        .nav-item{
            z-index: 4;
        }
    }
    header {
        .navbar-default .navbar-nav {
          padding-left: 15px !important;
        }
    
        .menu-new {
          position: fixed;
          top: 0;
          right: -161%;
          width: 80%;
          height: 100%;
          padding: 15px 0;
          z-index: 999;
          background-color: white;
          text-align: left;
          color: #333;
           transition:all 700ms ease;
          transform:translateX(-100%);
    
          &.show {
             transform:translateX(0);
            right: 0%;
          }
    
          a {
            color: white;
            padding: 10px 0;
            display: block;
            max-width: 230px;
            text-align: left;
            margin: 0 auto;
            font-size: 12px;
            @include transition(all 700ms ease);
          }
    
          .navbar-default .navbar-nav {
            padding-left: 15px;
          }
        }
    
        .menu-circle {
          background-color: transparent;
          height: 30px;
          width: 30px;
          padding: 2px;
          position: fixed;
          right: 5%;
          top: 3%;
          z-index: 9999;
          /* border-radius: 100%; */
          cursor: pointer;
          text-align: center;
    
    
          i.fa-angle-up {
            color: white;
            font-size: 35px;
            line-height: 23px;
          }
    
          &.bottom {
            top: auto;
            bottom: 35px;
          }
    
          .bar {
            display: block;
            height: 2px;
            width: 24px;
            background-color: white;
            margin: 5px auto;
        transition:all 700ms ease;
          }
        }
    
        .closer {
          .bar2 {
            opacity: 0;
          }
    
          .bar1 {
            transform: rotate(45deg) translate(4px, 6px);
            background-color: gray;
          }
    
          .bar3 {
            transform: rotate(-45deg) translate(4px, -6px);
            background-color: gray;            
          }
        }
      }
    
}