/* Breakpoint for medium viewport */

@include media-breakpoint-down(sm) {
    .save,
    .add,
    .reminder {
        width: 70%;
    }
    .app-modal-window {
        left: 50%;
        width: 100%;
        .button {
            font-size: 12px;
        }
    }
    .export {
        margin: 10px 0px;
        float: left;
    }
    .spacing-top {
        margin-top: 4rem !important;
    }
    .custom-input {
        width: 100% !important;
    }
    .support-timeline{
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        top: 240px;
        width: 160%;
        left: -175px;
    }
    .profile-page-subsection .social .social-text {
        width: 55%;
    }
    .product-search input {
        width: 330px !important;
    }
}