/* Breakpoint for medium viewport */

@include media-breakpoint-down(sm) {
    //padding top for content in all pages
    .home-section {
        padding-top: 0;
    }
    .bg-image {
        height: 91vh;
    }
    .user-profile {
        width: 70px !important;
        height: 70px !important;
    }
    .main {
        .content {
            padding-top: 35px;
        }
    }
    .other {
        .content {
            margin-top: -10px;
        }
    }
    .without-padding {
        .content {
            padding-top: 0;
        }
    }
    .notification-main {
        padding-top: 40px;
        .content {
            min-height: calc(100vh - 20vh);
        }
    }
    .openticketreminder {
        padding-right: 0;
        padding-left: 0;
    } // .border-rounded {
    //     border-radius: 0;
    // }
    .ticket-creation-main .openticket {
        min-height: 62.5vh;
    }
    .save,
    .add,
    .reminder {
        width: 70%;
    }
    .app-modal-window {
        left: 50%;
        width: 100%;
        .button {
            font-size: 12px;
        }
    }
    .export {
        margin: 10px 0px;
        float: left;
    }
    .spacing-top {
        margin-top: 4rem !important;
    }
    .custom-input {
        width: 100% !important;
    }
    .support-timeline {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        top: 240px;
        width: 160%;
        left: -175px;
    }
    .profile-page-subsection .social .social-text {
        width: 55%;
    }
    .product-search input {
        width: 330px !important;
    }
    .menu-circle {
        right: 5% !important;
        top: 3% !important;
    }
    .btn-logout {
        height: 333px !important;
    }
    .closedticketcreation {
        padding: 0.5rem !important;
    } // .support-chat-history {
    //     min-height: 18vh !important;
    // }
    .notificationaccordian-modal {
        .button {
            font-size: 0.5rem;
        }
    }
    .listed-openTickets .element-list .product-title {
        width: 310px;
    }
    .productreg {
        .card-body {
            height: 110vh;
        }
        .support-timeline {
            top: 266px;
            width: 265%;
            left: -308px;
        }
    }
    .img-section {
        width: 37.5vh !important;
    }
    .main-swiper-container {
        width: 290px;
    }
    .about-pumpkin-section {
        height: 70vh;
        .swiper-button-prev,
        .swiper-container-rtl .swiper-button-next {
            left: -35px;
        }
        .swiper-button-next,
        .swiper-container-rtl .swiper-button-prev {
            right: -35px;
        }
    }
    .home-footer {
        font-size: 12px;
    }
    .timeline {
        .circle4 {
            left: 94.5%;
        }
    }
}