<div class="background-blue home-section">
    <div class="d-flex">
        <div class="align-self-end img-section"><img src="img/home/homeBanner.png" class="img-fluid"></div>
        <div class="align-self-center text-white home-section-content">Pumpkiin, please help!<br> My , needs Service .</div>
    </div>
</div>
<div class="bg-white text-center about-pumpkin-section">
    <div class="about-pumpkin">
        <div><img src="img/header/Pumpkiinlogo.png"></div>
        <div class="py-3 fontRobotoLight heading-fontsize">Your customer care personal assistant</div>
        <div class="about-content font14">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
            essentially unchanged.
            <div class="py-3"><a>Know More....</a></div>
        </div>
    </div>
    <!-- Slider main container -->
<div class="swiper-container" slides-per-group="2">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">Slide 1</div>
            <div class="swiper-slide">Slide 2</div>
            <div class="swiper-slide">Slide 3</div>
        </div>
    
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
<div class="pumpkin-plans"></div>