<div class="modal-header justify-content-center background-blue text-white">
    <h5 class="modal-title fontRobotoRegular" id="modal-title">Reminder</h5>
    <span class="modal-close-icon" ng-click="$dismiss()">
        <img src="img/modal/close_white.png" width="20">
    </span>
</div>
<div class="modal-body fontRobotoLight" id="modal-body">
    <form>
        <div class="form-group">
            <label for="title">Add Title *</label>
            <input class="form-control form-control-sm" type="text" name="title" ng-model="data.title">
        </div>
        <div class="form-group">
            <label for="title">Add Description</label>
            <input class="form-control form-control-sm" type="text" name="description" ng-model="data.description">
        </div>
        <div class="form-group">
            <label for="title">Select Date</label>
            <input ng-model="data.dateOfReminder" class="form-control form-control-sm" type="date" required>

            <!-- <input class="form-control form-control-sm w-50" type="datetime-local" name="title"> -->

        </div>
        <div class="text-center">
            <button class="reminder-btn" ng-click="saveReminder(data)">Save Reminder</button>
        </div>
    </form>
</div>