<div class="modal-header justify-content-center background-blue text-white">
    <h5 class="modal-title fontRobotoRegular" id="modal-title">Reminder</h5>
    <span class="modal-close-icon" ng-click="$dismiss()">
        <img src="img/modal/close_white.png" width="20">
    </span>
</div>
<div class="modal-body fontRobotoLight" id="modal-body">
    <form>
        <div class="form-group">
            <label for="title">Add Title *</label>
            <input class="form-control form-control-sm" type="text" name="title" ng-model="data.title" required>
        </div>
        <div class="form-group">
            <label for="title">Add Description * </label>
            <input class="form-control form-control-sm" type="text" name="description" ng-model="data.description" required>
        </div>
        <div class="form-group">
            <label for="title">Select Date * </label>
            <input ng-model="data.dateOfReminder" class="form-control form-control-sm" type="datetime-local" required>
        </div>
        <div class="text-center">
            <button type="submit" class="btn w-50 form-control reminder-btn" ng-click="saveReminder(data)" ng-disabled="!(data.title && data.description && data.dateOfReminder)">Save Reminder</button>
        </div>
    </form>
</div>