<div class="modal-header justify-content-center background-blue text-white">
    <h5 class="modal-title fontRobotoRegular" id="modal-title">ADDRESS</h5>
    <span class="modal-close-icon" ng-click="$dismiss()">
        <img src="img/modal/close_white.png" width="20">
    </span>
</div>
<div class="modal-body fontRobotoLight" id="modal-body">
    <form name="address">
        <div class="form-group">
            <label for="title">
                Address Title ( Home / Work )</label>
            <input class="form-control form-control-sm" type="text" name="addressName" required>
        </div>
        <div class="form-group">
            <label for="fulladd">
                Full Address</label>
            <input class="form-control form-control-sm" type="text" name="title" required>
        </div>
        <div class="form-group">
            <label for="title">
                Country</label>
            <ui-select class="input-border" ng-model="ctrl.address.selected" theme="bootstrap" ng-disabled="ctrl.disabled" reset-search-input="false" 
                title="Choose Country" required="true">
                <ui-select-match placeholder="Enter Country">{{$select.selected.formatted_address}}</ui-select-match>
                <ui-select-choices repeat="address in ctrl.addresses track by $index" refresh="ctrl.refreshAddresses($select.search)" refresh-delay="0">
                    <div ng-bind-html="address.formatted_address | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <label for="title">
                State</label>
            <ui-select class="input-border" ng-model="ctrl.address.selected" theme="bootstrap" ng-disabled="ctrl.disabled" reset-search-input="false" 
                title="Choose State" required="true">
                <ui-select-match placeholder="Enter State">{{$select.selected.formatted_address}}</ui-select-match>
                <ui-select-choices repeat="address in ctrl.addresses track by $index" refresh="ctrl.refreshAddresses($select.search)" refresh-delay="0">
                    <div ng-bind-html="address.formatted_address | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <label for="title">
                City</label>
            <ui-select class="input-border" ng-model="ctrl.address.selected" theme="bootstrap" ng-disabled="ctrl.disabled" reset-search-input="false" 
                title="Choose City" required="true">
                <ui-select-match placeholder="Enter City">{{$select.selected.formatted_address}}</ui-select-match>
                <ui-select-choices repeat="address in ctrl.addresses track by $index" refresh="ctrl.refreshAddresses($select.search)" refresh-delay="0">
                    <div ng-bind-html="address.formatted_address | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <label for="pin">
                Pincode</label>
            <input ng-model="pin" type="text" class="form-control form-control-sm" name="pin" required only-digits>
        </div>
        <div>
            <button class="form-control w-40 mx-auto reminder-btn" ng-disabled="address.$invalid">Save</button>
        </div>
    </form>
</div>