<div class="modal-header justify-content-center background-blue text-white">
    <h5 class="modal-title fontRobotoRegular" id="modal-title">Reminder</h5><span class="float-right"><i class="fas fa-times"></i></span>
</div>
<div class="modal-body fontRobotoLight" id="modal-body">
    <form>
        <div class="form-group">
            <label for="title">Add Title *</label>
            <input class="form-control form-control-sm" type="text" name="title">
        </div>
        <div class="form-group">
            <label for="title">Add Description</label>
            <input class="form-control form-control-sm" type="text" name="title">
        </div>
        <div class="form-group">
            <label for="title">Select Date</label>
            <input class="form-control form-control-sm w-50" type="datetime-local" name="title">
            <input class="form-control form-control-sm w-50" type="datetime-local" name="title">
        </div>
        <div class="text-center">
                <button class="background-blue text-white reminder-btn">Save Reminder</button>
        </div>
    </form>
</div>