<div class="modal-header justify-content-center background-blue text-white">
    <h5 class="modal-title fontRobotoRegular" id="modal-title">ADDRESS</h5>
    <span class="modal-close-icon" ng-click="$dismiss()">
        <img src="img/modal/close_white.png" width="20">
    </span>
</div>
<div class="modal-body fontRobotoLight" id="modal-body">
    <form name="address">
        <div class="form-group">
            <label for="title"> Address Title ( Home / Work ) * </label>
            <input class="form-control form-control-sm" type="text" name="addressName" ng-model="data.title" required>
            <span class="error" ng-show="address.addressName.$invalid && address.addressName.$touched"> Please, enter
                address title</span>
        </div>
        <div class="form-group">
            <label for="fulladd">Full Address * </label>
            <input class="form-control form-control-sm" type="text" name="address" required ng-model="data.address" required>
            <span class="error" ng-show="address.address.$invalid && address.address.$touched"> Please, enter address</span>
        </div>
        <div class="form-group">
            <label for="country">Country * </label>
            <div name="country" class="form-control form-control-sm">India</div>
        </div>
        <div class="form-group">
            <label for="state">State * </label>
            <ui-select name="state" class="input-border" ng-model="data.state" theme="selectize" ng-disabled="ctrl.disabled" title="Choose a state"
                ng-change="updateState(data.state)" ng-required="true">
                <ui-select-match placeholder="Select or search a state in the list...">{{$select.selected.region}}</ui-select-match>
                <ui-select-choices class="background-blue text-white" repeat="state in states | filter: $select.search">
                    <span ng-bind-html="trustAsHtml(state.region | highlight: $select.search)"></span>
                </ui-select-choices>
            </ui-select>
            <span class="error" ng-show="address.state.$invalid && address.state.$touched"> Please, select state</span>
        </div>
        <div class="form-group">
            <label for="title">City * </label>
            <ui-select name="city" class="input-border" ng-model="data.city" theme="selectize" ng-disabled="ctrl.disabled" title="Choose a city"
                ng-change="updateState(data.city)" ng-required="true">
                <ui-select-match placeholder="Select or search a city in the list...">{{$select.selected.city}}</ui-select-match>
                <ui-select-choices class="background-blue text-white" repeat="city in cities | filter: $select.search">
                    <span ng-bind-html="trustAsHtml(city.city | highlight: $select.search)"></span>
                </ui-select-choices>
            </ui-select>
            <span class="error" ng-show="address.city.$invalid && address.city.$touched"> Please, select city</span>
        </div>
        <div class="form-group">
            <label for="pin">Pincode * </label>
            <input name="pin" ng-model="data.pin" type="text" class="form-control form-control-sm" name="pin" required only-digits>
            <span class="error" ng-show="address.pin.$invalid && address.pin.$touched"> Please, enter pincode</span>
        </div>
        <div>
            <button class="form-control w-40 mx-auto reminder-btn" ng-disabled="address.$invalid" ng-click="saveAddressData(data)">Save</button>
        </div>
    </form>
</div>