<div class="modal-header justify-content-center background-blue text-white">
    <h5 class="modal-title fontRobotoRegular" id="modal-title">Edit User</h5>
    <span class="modal-close-icon" ng-click="$dismiss()">
        <img src="img/modal/close_white.png" width="20">
    </span>
</div>
<div class="modal-body fontRobotoLight" id="modal-body">
    <form name="newuser">
        <div class="row form-group">
            <div class="col-12 col-md-6">
                <label class="mb-0">Name * </label>
                <input name="user" ng-model="userRel.user.name" class="form-control form-control-sm" type="text" required only-letters-input>
                <span class="error" ng-show="newuser.user.$invalid && newuser.user.$touched"> Please, enter user name</span>
            </div>
            <div class="col-12 col-md-6">
                <label class="mb-0">Email * </label>
                <input name="email" ng-model="userRel.user.email" class="form-control form-control-sm" type="email" required>
                <span class="error" ng-show="newuser.email.$invalid && newuser.email.$touched"> Please, enter user email</span>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-12 col-md-6">
                <label class="mb-0">Mobile Number * </label>
                <input name="mobile" ng-model="userRel.user.mobile" class="form-control form-control-sm" type="text" maxlength="10" required
                    only-digits>
                <span class="error" ng-show="newuser.mobile.$invalid && newuser.mobile.$touched"> Please, enter user contact</span>
            </div>
            <div class="col-12 col-md-6">
                <label class="mb-0">NickName</label>
                <input ng-model="userRel.user.nickName" class="form-control form-control-sm" type="text">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-12 col-md-6">
                <label class="mb-0">Relationship * </label>
                <select class="form-control cursor-point" id="sel1" name="sellist1" ng-model="userData.relation" required>
                    <option ng-repeat="relations in relationsForUser">{{relations}}</option>
                </select>
                <span class="error" ng-show="newuser.sellist1.$invalid && newuser.sellist1.$touched"> Please, select relationship</span>
            </div>
        </div>
        <div class="text-center">
            <button class="form-control w-40 mx-auto reminder-btn" ng-click="addUser(userData)" ng-disabled="newuser.$invalid">Save User</button>
        </div>
    </form>
</div>