<div class="modal-header justify-content-center background-blue text-white">
    <h5 class="modal-title fontRobotoRegular" id="modal-title">Open Ticket Information</h5>
    <span class="modal-close-icon" ng-click="$dismiss()">
        <img src="img/modal/close_white.png" width="20">
    </span>
</div>
<div class="text-center py-3">
    <h5 class="product-title text-truncate green-color">{{singleTicket.product.productName}}</h5>
    <div>
        <div class="date ">{{singleTicket.issueReported | date}}</div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary py-1 mt-2 border-rounded " ng-click="closeModal()" ui-sref="ticketcreation({id:singleTicket.product._id})">Edit</button>
        </div>
    </div>
</div>