<div class="modal-header justify-content-center background-blue text-white">
    <h5 class="modal-title fontRobotoRegular" id="modal-title">Product Registration</h5>
    <span class="modal-close-icon" ng-click="$dismiss()">
        <img src="img/modal/close_white.png" width="20">
    </span>
</div>
<div class="modal-body fontRobotoLight text-center" id="modal-body">
    <div>Is your product registered?</div>
    <div class="d-flex mt-3 fontRobotoRegular">
        <a role="button" class="button orange-btn py-1 w-50 mr-4" ng-click="registration.dismiss()">Yes</a>
        <a role="button" class="button green-btn py-1 w-50" ng-click="pumpkinRegistration()">No</a>
    </div>
</div>