<div class="modal-header justify-content-center background-blue text-white">
    <h5 class="modal-title fontRobotoRegular" id="modal-title">Product Registration</h5>
    <span class="modal-close-icon" ng-click="$dismiss()">
        <img src="img/modal/close_white.png" width="20">
    </span>
</div>
<div class="modal-body fontRobotoLight" id="modal-body">
    <div class="mb-2 fontRobotoRegular">Upload Product Invioce</div>
    <div class="upload-btn-wrapper mx-1">
        <button class="btn">+</button>
        <input type="file" name="myfile" />
    </div>

    <div ng-if=!data.productInvoicePR>
        <upload-image multiple ng-model="data.productInvoicePR" no-view></upload-image>
    </div>
    <!-- <div class="form-group" fields>
        <label>Image</label>
        <upload-image ng-model="data.purchaseproof1"></upload-image>
    </div> -->
    <div class="mb-2 mt-3 fontRobotoRegular">Upload Warranty Card</div>
    <div class="upload-btn-wrapper mx-1">
        <button class="btn">+</button>
        <input type="file" name="myfile" />
    </div>
    <div ng-if=!data.warrantyCardPR>
        <upload-image multiple ng-model="data.warrantyCardPR" no-view></upload-image>
    </div>
    <!-- <div class="form-group" fields>
        <label>Image</label>
        <upload-image ng-model="data.warrantyProof"></upload-image>
    </div> -->
    <div class="d-flex justify-content-center text-center my-3 fontRobotoRegular" ng-click="submitDocuments(data)">
        <a role="button" class="button green-btn py-1 w-50">UPLOAD FILES</a>
    </div>
</div>