<div class="modal-header justify-content-center background-blue text-white">
    <h5 class="modal-title fontRobotoRegular" id="modal-title">Product Registration</h5>
    <span class="modal-close-icon" ui-sref="openticket">
        <img src="img/modal/close_white.png" width="20">
    </span>
</div>
<div class="modal-body fontRobotoLight invoicewarranty" id="modal-body">
    <div class="mb-0 mb-md-1 fontRobotoRegular upload-text">Upload Product Invoice*
        <span class="green-color" ng-if="data.productInvoicePR">({{data.productInvoicePR.length}})</span>
    </div>

    <div class="scrollbar">
        <upload-image multiple ng-model="data.productInvoicePR" no-status="true"></upload-image>
    </div>
    <!-- <div class="error" ng-if="productInvoicePRError">
        error
    </div> -->
    <div class="mb-md-1 mt-md-1 mt-0 mb-0 fontRobotoRegular upload-text">Upload Warranty Card
        <span class="green-color" ng-if="data.warrantyCardPR">({{data.warrantyCardPR.length}})</span>
    </div>
    <div class="scrollbar">
        <upload-image multiple ng-model="data.warrantyCardPR" no-status="true"></upload-image>
    </div>
    <fieldset class="d-flex my-0 my-md-1 fontRobotoRegular" ng-disabled="!data.productInvoicePR" ng-click="submitDocuments(data)">
        <a role="button" class="button green-btn py-1 w-50 mx-auto text-center">UPLOAD FILES</a>
    </fieldset>
</div>