<div class="modal-header justify-content-center background-blue text-white">
    <h5 class="modal-title fontRobotoRegular" id="modal-title">Product Registration</h5>
    <span class="modal-close-icon" ng-click="$dismiss()">
        <img src="img/modal/close_white.png" width="20">
    </span>
</div>
<div class="modal-body fontRobotoLight" id="modal-body">
    <div class="mb-2 fontRobotoRegular">Upload Product Invioce</div>

    <div class="scrollbar" ng-if=!data.productInvoicePR>
        <div>
            <upload-image multiple ng-model="data.images"></upload-image>
        </div>
    </div>
    <div class="mb-2 mt-3 fontRobotoRegular">Upload Warranty Card</div>
    <div class="scrollbar" ng-if=!data.warrantyCardPR>
        <div>
            <upload-image multiple ng-model="data.images"></upload-image>
        </div>
    </div>
    <div class="d-flex justify-content-center text-center my-3 fontRobotoRegular" ng-click="submitDocuments(data)">
        <a role="button" class="button green-btn py-1 w-50">UPLOAD FILES</a>
    </div>
</div>