<div class="modal-header justify-content-center background-blue text-white">
    <h5 class="modal-title fontRobotoRegular" id="modal-title">Thank You</h5>
    <span class="modal-close-icon" ui-sref="openticket">
        <img src="img/modal/close_white.png" width="20">
    </span>
</div>
<div class="modal-body fontRobotoLight text-center" id="modal-body">
    <div class="p-4">
        <h5> Your file has been successfully uploaded !</h5>
        <h5> Your product will be registered shortly.</h5>
        <h5>Please check your mail for further notice.</h5>
    </div>
</div>