.header-bg {
    background-color: $darkblue;
}

.user-profile {
    width: 30px;
    height: 30px;
    overflow: hidden;
}

.product-search {
    position: relative;
    z-index: 2;
    input {
        width: 500px;
        border-radius: 20px;
        height: 29px;
        border: none;
        font-size: 13px;
        padding-left: 36px;
        font-family: "Roboto-Regular";
        z-index: 2;
        box-shadow: 0 0px 20px #333B45;
        &:focus,
        &:active {
            outline: none;
        }
    }
    input::placeholder {
        font-size: 12px; // padding-left: 35px;
        color: $gray;
        font-family: "Roboto-Regular";
    }
    .search-icon {
        position: absolute;
        width: 31px;
        padding: 10px;
    }
}

.right-icon-width {
    width: 23px;
}

// .relative {
//     position: relative;
// }
.product-drop {
    position: absolute;
    background: #f9f9fa;
    width: 100%;
    top: 0;
    padding: 60px 20px 20px 20px;
    border-radius: 10px 10px 5px 5px;
    .product {
        border-bottom: 1px solid #DFE1E4;
        color: #657D95;
        font-size: 14px;
        padding: 8px 2px;
        position: relative;
        img {
            position: absolute;
            right: 10px;
            height: 50%;
        }
        &:first-child {
            border-top: 1px solid #868F97;
        }
    }
}

.profile-menu {
    background: white;
    position: absolute;
    right: -30px;
    top: 35px;
    width: 200px;
    border-radius: 10px;
    .menu-item {
        padding: 3px 10px;
        color: #667E95;
        font-size: 14px;
        cursor: pointer;
        &:last-child {
            border-top: 1px solid #FFA345;
            color: #FFA345;
        }
        &:hover {
            background-color: #667E95;
            color: white;
            transition: ease all 300ms;
            &:last-child {
                background-color: #FFA345;
                color: white;
                border-radius: 0 0 10px 10px;
            }
            &:first-child {
                border-radius: 10px 10px 0 0;
            }
        }
    }
    &:before {
        content: '';
        border-bottom: 10px solid white;
        position: absolute;
        top: -10px;
        right: 12%;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }
}

.header-dropdown {
    .dropdown-toggle::after {
        display: none;
    }
    button {
        background-color: #142c5b;
        padding: 0;
    }
    .dropdown-menu {
        padding: 5px 0 0;
        left: -142px;
        top: 30px;
        min-width: 11rem;
        border-radius: 0.5rem;
        @extend .font14;
        @extend .fontRobotoRegular;
        color: #667E95;
        li {
            cursor: pointer;
            &:hover {
                a {
                    color: white;
                }
                background: $blue;
            }
        }
        &:after {
            content: "";
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid white;
            color: white;
            position: absolute;
            top: -10px;
            right: 13px;
        }
    }
    .logout-style {
        border-top: solid 1px $orange;
    }
}