/***************open ticket*************/

.ticket-title {
    h3,
    p {
        font-family: Roboto-Light;
        color: $dark-gray;
    }
}

.ticket-list {
    text-align: center;
    span {
        font-family: "Roboto-Bold";
        text-transform: uppercase;
        color: $dark-gray; 
    }
}