.openticket-circle {
    cursor: pointer;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 5px $orange;
    background: white;
    margin: 0 auto;
    .showdefault {
        display: block;
    }
    .showhover {
        display: none;
    }
    &:hover {
        background: $orange;
        border: solid 5px $orange;
        transition: ease all 300ms;
        i {
            color: white !important;
        }
        .showdefault {
            display: none;
        }
        .showhover {
            display: block;
        }
    }
}

.reminder-btn {
    cursor: pointer;
    border-radius: 20px;
    padding: 5px 45px;
    border: 0;
    background-color: #C6CBD9;
    color: white;
    font-weight: 600;
    border: solid 1px transparent;
    &:hover {
        background-color: white;
        color: #C6CBD9;
        border: solid 1px #C6CBD9;
        transition: ease all 300ms;
    }
}

.reminder-btn-green {
    cursor: pointer;
    border-radius: 20px;
    padding: 5px 45px;
    border: 0;
    background-color: #14C177;
    color: white;
    border: solid 1px transparent;
    &:hover {
        background-color: white;
        color: #14C177;
        border: solid 1px #14C177;
        transition: ease all 300ms;
    }
}