.openticket-circle {
    cursor: pointer;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 5px $orange;
    background: white;
    margin: 0 auto;
    .showdefault{
        display: block;
    }
    .showhover{
        display: none;
    }
    &:hover {
        background: $orange;
        border: solid 5px $orange;
        transition: ease all 300ms;
        i{
            color: white !important;
        }
        .showdefault{
            display: none;
        }
        .showhover{
            display: block;
        }
    }
}
.reminder-btn{
    cursor: pointer;
    border-radius: 20px;
    padding: 5px 45px;
    border: 0;
    background-color: #142C5C;
    color: white;
    border: solid 1px transparent;
    &:hover{
        background-color: white;
        color: #142C5C;
        border: solid 1px #142C5C;
        transition: ease all 300ms;
    }
}