.profile-page {
    .profile-image {
        position: relative;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        border: solid 1px $green;
        .upload-btn-wrapper {
            padding: 25px 25px;
            margin-top: 0 !important;
            position: relative;
            overflow: hidden;
            display: inline-block;
            cursor: pointer;
        }
        .upload-btn-wrapper input[type=file] {
            width: 130px;
            height: 130px;
            border-radius: 50%;
            font-size: 100px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            cursor: pointer;
        }
        .img-uploaded {
            width: 130px;
            border-radius: 50%;
        }
        &:hover{
            .profile-photo-upload{
                opacity: 1;
            }
        }
    }
    .profile-photo-upload{
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        opacity: 0;
        background-color: rgba(255, 255, 255, 0.5);
        width: 130px;
        height: 130px;
        border-radius: 50%;
    }
}

.profile-page-subsection {
    .productreg {
        &:before {
            left: 3%;
        }
    }
    .p3 {
        padding: 0 3px;
    }
    .social{
        .social_icon{
            border: solid 2px white;
        }
        .social-text{
            width: 40%;
        }
    }
}