.profile-page {
    .profile-image {
        position: relative;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        border: solid 1px $green;
        .upload-btn-wrapper {
            padding: 25px 25px;
            margin-top: 0 !important;
            position: relative;
            overflow: hidden;
            display: inline-block;
            cursor: pointer;
        }
        .upload-btn-wrapper input[type=file] {
            width: 130px;
            height: 130px;
            border-radius: 50%;
            font-size: 100px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            cursor: pointer;
        }
        .img-uploaded {
            max-width: 130px;
            height: 130px;
            border-radius: 50%;
        }
        &:hover {
            .profile-photo-upload {
                opacity: 1;
            }
        }
    }
    .profile-photo-upload {
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        opacity: 0;
        background-color: rgba(255, 255, 255, 0.5);
        width: 130px;
        height: 130px;
        border-radius: 50%;
    }
}

.profile-page-subsection {
    .productreg {
        &:before {
            left: 3%;
        }
    }
    .p3 {
        padding: 0 3px;
    }
    .social {
        width: 10%;
        .social_icon {
            border: solid 2px white;
        }
        .social-text {
            padding-left: 30px !important;
        }
    }
    .custom-input {
        width: 20%;
    }
}

.modal-font-color,
.modal-body {
    color: #292b2c;
    span {
        padding-left: 8px;
    }
}

.profile-details {
    .noShow {
        display: none;
    }
}

.mobile-edit {
    background: transparent;
    border: none;
    color: white;
    border-bottom: 1px solid #cccccc;
    &:focus {
        outline: none;
    }
}