.productreg {
    position: relative;
    &:before {
        content: "";
        background-image: url(../img/pdf.png);
        background-color: $blue;
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: center center;
        border: solid 4px #ECF0F2;
        width: 40px;
        height: 40px;
        position: absolute;
        left: 3%;
        border-radius: 50%;
        top: -20px;
    }
}

.timeline {
    position: relative;
    border-bottom: solid 2px white;
    width: 60%;
    margin: 0 auto;
    .circle {
        width: 20px;
        height: 20px;
        position: absolute;
        top: -9px;
        border-radius: 50%;
        background-color: #CFCFCF;
        border: solid 3px white;
        &:before {
            text-transform: uppercase;
            font-size: 12px;
            @extend .fontRobotoBold;
            position: absolute;
            bottom: -23px;
        }
    }
    .circle1 {
        left: 0;
        &:before {
            content: 'product\00a0 details';
            left: -45px;
        }
    }
    .circle2 {
        left: 33.33%;
        &:before {
            content: 'PURCHASE\00a0 DETAILS';
            left: -47px;
        }
    }
    .circle3 {
        left: 66.66%;
        &:before {
            content: 'PROTECTION\00a0 DETAILS';
            left: -55px;
        }
    }
    .circle4 {
        left: 99.99%;
        &:before {
            content: 'ACCESSORIES';
            left: -32px;
        }
    }
}

.product-desc {
    h6 {
        color: #404A6E;
    }
    label {
        @extend .fontRobotoRegular;
        color: #657D95;
    }
    span {
        color: #D1D1D1;
        font-size: 12px;
    }
    input {
        @extend .fontRobotoLight;
        border-radius: 3px;
    }
}

.info-icon {
    color: #D1D1D1;
    font-size: 16px !important;
}

.scrollbar {
    display: flex;
    width: 100%;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
        /* optional: just make scrollbar invisible */
    }
    /* optional: show position indicator in red */
    &::-webkit-scrollbar-thumb {
        background: transparent;
    }
    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
        cursor: pointer;
        min-width: 75px;
        &:hover .btn {
            color: white;
            background-color: orange;
        }
    }
    .btn {
        border: 1px solid orange;
        color: orange;
        background-color: white;
        padding: 10px 25px;
        border-radius: 5px;
        font-size: 40px;
        cursor: pointer;
    }
    .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        cursor: pointer;
    }
}
.image-upload{
    .upload-btn-wrapper input[type=file]{
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
}
.save,
.cancel,
.add,
.reminder {
    width: 25%;
    .social_icon {
        padding: 3px 8px;
        border: solid 2px #ecf0f2;
        background: $orange !important;
    }
    .social-text {
        padding: 5px 0 !important;
        background: $orange !important;
    }
    &:hover {
        .social_icon {
            background: white !important;
            color: $orange !important;
            border: solid 2px $orange !important;
            transition: ease all 300ms;
        }
        .social-text {
            padding: 4px 0 !important;
            background: white !important;
            color: $orange !important;
            border: solid 2px $orange !important;
            transition: ease all 300ms;
        }
    }
}

.cancel {
    width: 10%;
    position: absolute;
    top: 15%;
    right: 5%;
    .social_icon {
        padding: 3px 9px;
        border: solid 2px #142c5b;
    }
}

.add,
.reminder {
    width: 17%;
    .social_icon {
        padding: 6px 9px !important;
    }
}

.main-users {
    overflow: auto;
    .existing-user {
        background: #EBEDF1;
        border-radius: 5px;
        min-width: auto;
        color: #657D95;
        .user-circle {
            min-width: 30px;
            min-height: 30px;
            background: white;
            border-radius: 50%;
            border: solid 1px #707070;
        }
        .name-rel {
            line-height: 18px;
            min-width: 87px;
        }
        span {
            font-size: 14px;
            color: #657D95;
        }
    }
}

.border-dashed {
    border-top: dashed 1px #EBEDF1;
}

.timeline-active {
    background-color: #14C177 !important;
}

.check-icon {
    font-size: 8px;
    position: absolute;
    left: 0;
    top: 2px;
    margin: 1px 3px;
}

.selectize-control.single>.selectize-input>input {
    color: #333 !important;
}

.selectize-control>.selectize-dropdown {
    background-color: $darkblue !important;
    position: relative;
}

.ui-select-bootstrap.open .dropdown-menu {
    display: block;
}