.profile-page {
    .profile-image {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        border: solid 1px $green;
        img {
            width: 130px;
            border-radius: 50%;
        }
    }
}

.profile-page-subsection {
    .productreg {
        &:before {
            left: 3%;
        }
    }
    .p3 {
        padding: 0 3px;
    }
    .social{
        .social_icon{
            border: solid 2px white;
        }
        .social-text{
            width: 40%;
        }
    }
}