.product-registration-detail {
    .add {
        .social_icon {
            padding: 3px 8px !important;
        }
    }
    a {
        text-decoration: none;
    }
}

.reg-product-det {
    .file-upload {
        top: 20px;
        right: 50px;
    }
    .image-style {
        width: 75px;
    }
}