.ticket-creation-main {
    .img-div {
        position: relative;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: solid 2px white;
        .large-img {
            border-radius: 50%;
            width: 80px;
        }
        .small-img {
            position: absolute;
            right: -15px;
            top: 23px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: solid 2px white;
            background-color: $darkblue;
        }
    }
    .img-uploaded {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        margin: 0 3px;
        background-color: white;
    }
    .openticketreminder {
        .productreg {
            &:before {
                left: 40%;
                top: -28px;
            }
        }
    }
    .productreg {
        &:before {
            left: 4%;
            top: -23px;
            border: solid 5px #ECF0F2;
        }
    }
    .openticket {
            min-height: 36vh;
    }
    .reminderSection {
            min-height: 36vh;
    }
    .info-div {
        // height: 200px;
        overflow-y: auto;
    }
}

.support-timeline {
    position: relative;
    border-bottom: solid 2px #CFD7DB;
    .circle {
        width: 20px;
        height: 20px;
        position: absolute;
        top: -9px;
        border-radius: 50%;
        background-color: #CFD7DB;
        border: solid 3px #ECF0F2;
        &:before {
            font-size: 9px;
            @extend .fontRobotoRegular;
            position: absolute;
            top: 20px;
        }
    }
    .circle1 {
        left: 0;
    }
    .circle2 {
        left: 11.11%;
    }
    .circle3 {
        left: 22.22%;
    }
    .circle4 {
        left: 33.3%;
    }
    .circle5 {
        left: 44.44%;
    }
    .circle6 {
        left: 55.55%;
    }
    .circle7 {
        left: 66.66%;
    }
    .circle8 {
        left: 77.77%;
    }
    .circle9 {
        left: 88.88%;
    }
    .circle10 {
        left: 100%;
    }
}

.support-chat {
    @extend .border-dashed-bottom;
}

.chat {
    // height: 70vh;
    .image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #404A6E;
        img {
            border-radius: 50%;
            width: 40px;
        }
    }
    .chat-content {
        color: #142C5C;
        font-size: 14px;
        border-radius: 20px;
    }
    .you {
        .chat-content {
            border-top-left-radius: 0;
            background-color: rgba(20, 193, 119, 0.5);
        }
    }
    .me {
        .chat-content {
            border-top-right-radius: 0;
            background-color: rgba(255, 167, 77, 0.5);
        }
    }
}

.message {
    background-color: #ECF0F2;
    border-radius: 30px;
    padding: 10px 20px;
    padding-right: 100px;
}

.message::-webkit-input-placeholder {
    color: #8EA1B4 !important;
    font-family: Roboto-Regular;
    font-size: 14px !important;
}

.message:-moz-placeholder {
    /* Firefox 18- */
    font-family: Roboto-Regular;
    color: #8EA1B4 !important;
    font-size: 14px !important;
}

.message::-moz-placeholder {
    /* Firefox 19+ */
    font-family: Roboto-Regular;
    font-size: 14px !important;
    color: #8EA1B4 !important;
}

.message:-ms-input-placeholder {
    font-family: Roboto-Regular;
    font-size: 14px !important;
    color: red !important;
}

.message-send-input {
    position: relative;
    .send img {
        position: absolute;
        right: 0;
        width: 30px;
        margin: 6px;
    }
    .attachment {
        position: absolute;
        right: 50px;
        margin: -10px;
        cursor: pointer;
    }
    .scrollbar-tcreation {
        &::-webkit-scrollbar {
            width: 0px;
            background: transparent;
            /* optional: just make scrollbar invisible */
        }
        /* optional: show position indicator in red */
        &::-webkit-scrollbar-thumb {
            background: transparent;
        }
        .upload-btn-wrapper {
            position: relative;
            overflow: hidden;
            display: inline-block;
            cursor: pointer;
            &:hover .btn {
                color: white;
                background-color: orange;
            }
        }
        .btn {
            border: 1px solid orange;
            color: orange;
            background-color: white;
            padding: 10px 25px;
            border-radius: 5px;
            font-size: 40px;
            cursor: pointer;
        }
        .upload-btn-wrapper input[type=file] {
            font-size: 100px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            cursor: pointer;
        }
    }
}

.clock {
    top: 0;
    right: 10%;
}

.chat-button {
    .reminder-btn {
        cursor: pointer;
        padding: 5px 10px;
        color: $orange;
        background-color: white;
        border: solid 1px $orange;
        border-radius: 30px;
        font-family: Roboto-Medium;
        &:hover {
            background-color: $orange;
            color: white;
            transition: ease all 300ms;
        }
    }
    .close-btn {
        cursor: pointer;
        position: relative;
        padding: 2px 30px;
        padding-left: 40px;
        color: white;
        background-color: $orange;
        border: solid 2px $orange;
        border-radius: 30px;
        font-family: Roboto-Medium;
        .close-icon {
            position: absolute;
            left: -5px;
            top: -1px;
            padding: 1px 7px;
            background: $orange;
            border: solid 2px #ecf0f2;
            border-radius: 50%;
        }
        &:hover {
            color: $orange;
            background-color: white;
            transition: ease all 300ms;
            .close-icon {
                background: white;
                border: solid 2px $orange;
                transition: ease all 300ms;
            }
        }
    }
}

.send-btn {
    cursor: pointer;
    position: relative;
    padding: 3px 30px;
    padding-left: 40px;
    color: white;
    background-color: $orange;
    border: solid 2px $orange;
    border-radius: 30px;
    font-family: Roboto-Medium;
    .close-icon {
        position: absolute;
        left: -5px;
        bottom: -3px;
        padding: 8px 7px;
        background: $orange;
        border: solid 2px white;
        border-radius: 50%;
        .showdefault {
            display: block;
        }
        .showhover {
            display: none;
        }
    }
    &:hover {
        color: $orange;
        background-color: white;
        transition: ease all 300ms;
        .close-icon {
            background: white;
            border: solid 2px $orange;
            transition: ease all 300ms;
            .showdefault {
                display: none;
            }
            .showhover {
                display: block;
            }
        }
    }
}

.pumpkin-support-feedback {
    padding-left: 40px !important;
    .pump-support-text {
        position: relative;
        &:before {
            content: "";
            width: 30px;
            height: 30px;
            background-color: #142c5b;
            border: solid 1px #14C177;
            border-radius: 50%;
            position: absolute;
            left: -35px;
            top: -5px;
        }
    }
    .close-icon {
        bottom: -1px;
        padding: 2px 8px;
        border: solid 2px #ecf0f2;
    }
}

.view {
    color: #657D95;
}

.support-chat-history {
    margin-bottom: 22px;
    min-height: 65vh;
    .panel-default {
        margin: 10px 0;
        background-color: white;
        border-radius: 10px;
        border-bottom: 0;
        border: 0;
        position: relative;
    }
    .panel-default:last-child {
        &:after {
            display: none;
        }
    }
    .date-supportchat {
        color: #818587;
    }
    .card-header {
        background-color: white;
        border-bottom: 0;
        border-radius: 10px;
        padding: 25px;
    }
    .blue-circle {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: $blue;
    }
}

svg {
    fill: $orange;
}

.custom-file {
    position: absolute;
    opacity: 0;
    width: 20px;
    height: 30px;
    top: 0px;
    overflow: hidden;
}

//animated search bar
.custom-searchbar {
    #wrap {
        margin: 50px 100px;
        display: inline-block;
        position: relative;
        height: 60px;
        float: right;
        padding: 0;
        position: relative;
    }
    input[type="text"] {
        height: 27px;
        font-size: 18px;
        display: inline-block;
        font-family: "Lato";
        font-weight: 100;
        border: none;
        outline: none;
        color: #555;
        padding: 3px;
        padding-right: 30px;
        width: 0px;
        position: absolute;
        top: 12%;
        right: 10%;
        background: none;
        z-index: 3;
        -webkit-transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
        transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
        cursor: pointer;
    }
    input[type="text"]:focus:hover {
        border-bottom: 1px solid #BBB;
    }
    input[type="text"]:focus {
        width: 100px;
        z-index: 1;
        border-bottom: 1px solid #BBB;
        cursor: text;
    }
    input[type="submit"] {
        height: 27px;
        width: 23px;
        display: inline-block;
        color: red;
        float: right;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
        background-size: 100%;
        text-indent: -10000px;
        border: none;
        position: absolute;
        top: 12%;
        right: 10%;
        z-index: 2;
        cursor: pointer;
        opacity: 0.4;
        cursor: pointer;
        transition: opacity .4s ease;
        &:focus {
            outline: none;
        }
    }
    input[type="submit"]:hover {
        opacity: 0.8;
    }
}
