.ticket-creation-main {
    .img-div {
        position: relative;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: solid 2px white;
        .large-img {
            border-radius: 50%;
            width: 80px;
        }
        .small-img {
            position: absolute;
            right: -15px;
            top: 23px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: solid 2px white;
            background-color: $darkblue;
        }
    }
    .img-uploaded {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        margin: 0 3px;
        background-color: white;
    }
    .openticketreminder {
        .productreg {
            &:before {
                left: 40%;
                top: -28px;
            }
        }
    }
    .productreg {
        &:before {
            left: 4%;
            top: -23px;
            border: solid 5px #ECF0F2;
        }
    }
    .openticket {
        height: 500px;
    }
    .reminderSection {
        height: 148px;
    }
    .info-div {
        // height: 200px;
        overflow-y: auto;
    }
}

.support-timeline {
    position: relative;
    border-bottom: solid 2px #CFD7DB;
    .circle {
        width: 20px;
        height: 20px;
        position: absolute;
        top: -9px;
        border-radius: 50%;
        background-color: #CFD7DB;
        border: solid 3px #ECF0F2;
        &:before {
            font-size: 10px;
            @extend .fontRobotoRegular;
            position: absolute;
            top: 20px;
        }
    }
    .circle1 {
        left: 0;
        &:before {
            content: '12/2/2018 \aTicket\00a0 Opened';
            left: 0;
        }
    }
    .circle2 {
        left: 25%;
        background-color: #14C177;
        &:before {
            content: '13/2/2018\aTicket\00a0 Accepted\00a0 by\00a0 brand';
            left: 0;
        }
    }
    .circle3 {
        left: 50%;
        background-color: #14C177;
        &:before {
            content: '12/2/2018 \a Brand\00a0 Replied\00a0 to\00a0 your\00a0 issue';
            left: 0;
        }
    }
    // .circle4 {
    //     left: 75%;
    //     &:before {
    //         content: '';
    //         left: 0;
    //     }
    // }
    .circle5 {
        left: 100%;
        background-color: #14C177;
        &:before {
            content: 'Ticket\00a0 Closed\a  12/2/2018';
            text-align: right;
            right: 0;
        }
    }
    .moving {
        left: 65%;
        background-color: #142C5C;
        &:before {
            content: 'You\00a0 Replied\a  12/2/2018';
            left: 0;
            top: -35px;
        }
    }
}

.support-chat {
    @extend .border-dashed-bottom;
}

.chat {
    // height: 70vh;
    .image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #404A6E;
        img {
            border-radius: 50%;
            width: 40px;
        }
    }
    .chat-content {
        color: #142C5C;
        font-size: 14px;
        border-radius: 20px;
    }
    .you {
        .chat-content {
            border-top-left-radius: 0;
            background-color: rgba(20, 193, 119, 0.5);
        }
    }
    .me {
        .chat-content {
            border-top-right-radius: 0;
            background-color: rgba(255, 167, 77, 0.5);
        }
    }
}

.message {
    background-color: #ECF0F2;
    border-radius: 30px;
    padding: 10px 20px;
    padding-right: 100px;
}

.message::-webkit-input-placeholder {
    color: #8EA1B4 !important;
    font-family: Roboto-Regular;
    font-size: 14px !important;
}

.message:-moz-placeholder {
    /* Firefox 18- */
    font-family: Roboto-Regular;
    color: #8EA1B4 !important;
    font-size: 14px !important;
}

.message::-moz-placeholder {
    /* Firefox 19+ */
    font-family: Roboto-Regular;
    font-size: 14px !important;
    color: #8EA1B4 !important;
}

.message:-ms-input-placeholder {
    font-family: Roboto-Regular;
    font-size: 14px !important;
    color: red !important;
}

.message-send-input {
    position: relative;
    .send {
        position: absolute;
        right: 0;
        width: 30px;
        margin: 6px;
    }
    .attachment {
        position: absolute;
        right: 40px;
        margin: 10px;
    }
}

.chat-button {
    .reminder-btn {
        cursor: pointer;
        padding: 5px 10px;
        color: $orange;
        background-color: white;
        border: solid 1px $orange;
        border-radius: 30px;
        font-family: Roboto-Medium;
        &:hover {
            background-color: $orange;
            color: white;
            transition: ease all 300ms;
        }
    }
    .close-btn {
        cursor: pointer;
        position: relative;
        padding: 2px 30px;
        padding-left: 40px;
        color: white;
        background-color: $orange;
        border: solid 2px $orange;
        border-radius: 30px;
        font-family: Roboto-Medium;
        .close-icon {
            position: absolute;
            left: -5px;
            top: -1px;
            padding: 1px 7px;
            background: $orange;
            border: solid 2px #ecf0f2;
            border-radius: 50%;
        }
        &:hover {
            color: $orange;
            background-color: white;
            transition: ease all 300ms;
            .close-icon {
                background: white;
                border: solid 2px $orange;
                transition: ease all 300ms;
            }
        }
    }
}

.send-btn {
    cursor: pointer;
    position: relative;
    padding: 3px 30px;
    padding-left: 40px;
    color: white;
    background-color: $orange;
    border: solid 2px $orange;
    border-radius: 30px;
    font-family: Roboto-Medium;
    .close-icon {
        width: 35px;
        height: 33px;
        position: absolute;
        left: -5px;
        top: -1.5px;
        padding: 6px 8px;
        background: $orange;
        border: solid 2px white;
        border-radius: 50%;
        .showdefault{
            display: block;
        }
        .showhover{
            display: none;
        }
    }
    &:hover {
        color: $orange;
        background-color: white;
        transition: ease all 300ms;
        .close-icon {
            width: 35px;
            height: 33px;
            background: white;
            border: solid 2px $orange;
            transition: ease all 300ms;
            .showdefault{
                display: none;
            }
            .showhover{
                display: block;
            }
        }
    }
}

.pumpkin-support-feedback {
    padding-left: 70px !important;
    .pump-support-text {
        position: relative;
        &:before {
            content: "";
            width: 30px;
            height: 30px;
            background-color: #142c5b;
            border: solid 1px #14C177;
            border-radius: 50%;
            position: absolute;
            left: -40px;
            top: -5px;
        }
    }
}

.view {
    color: #657D95;
}

.support-chat-history {
    .panel-default {
        margin: 10px 0;
        background-color: white;
        border-radius: 10px;
        border-bottom: 0;
        border: 0;
        position: relative;
        &:after {
            content: "";
            background-image: url("../img/ticketCreation/caret-up.png");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 50%;
            width: 35px;
            height: 35px;
            right: 60px;
            bottom: -22px;
            position: absolute;
            z-index: 1;
            background-color: #f6a244;
            border: solid 5px #ecf0f2;
            border-radius: 50%;
        }
    }
  
    .panel-default:last-child {
        &:after {
            display: none;
        }
    }
    .date-supportchat {
        color: #818587;
    }
    .card-header {
        background-color: white;
        border-bottom: 0;
        border-radius: 10px;
        padding: 25px;
    }
    .blue-circle {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: $blue;
    }
}

.star-color-change{
    svg{
            fill: $orange;
    }
   
}