<div class="container">
    <!--open ticket page title-->
    <div class="text-center ticket-title my-3">
        <h3>Welcome to Pumpkiin</h3>
        <p class="mb-2 pt-2">one liner comes here</p>
        <p class="pb-2">Click on the icons below to Add a product, start a Ticket or Add Reminder</p>
    </div>
    <!--end of title-->
    <!--ticket list-->
    <div class="row justify-content-center">
        <div class="col-12 col-md-3 ticket-list">
            <div class="openticket-circle d-flex justify-content-center align-items-center my-3">
                <img class="showdefault" src="img/openticket/ticketorange.png">
                <img class="showhover" src="img/openticket/ticketwhite.png">
            </div>
            <span>OPEN TICKET</span>
        </div>
        <div class="col-12 col-md-3 ticket-list">
            <div ui-sref="productregistration" class="openticket-circle d-flex justify-content-center align-items-center my-3">
                <img class="showdefault" src="img/openticket/addorange.png">
                <img class="showhover" src="img/openticket/addwhite.png">
            </div>
            <span ui-sref="productregistration">ADD PRODUCT</span>
        </div>
        <div class="col-12 col-md-3 ticket-list" ng-controller="headerCtrl">
            <div class="openticket-circle d-flex justify-content-center align-items-center my-3" ng-click="remainderModalOpen()">
                <img class="showdefault" src="img/openticket/calendarorange.png">
                <img class="showhover" src="img/openticket/calendarwhite.png">
            </div>
            <span>ADD REMINDER</span>
        </div>
    </div>
    <!--end of list-->
</div>
<!-- <div class="text-center">Check out, how it works?</div> -->