<div class="container">
    <!--open ticket page title-->
    <div class="text-center ticket-title my-3">
        <h3>Welcome to Pumpkiin</h3>
        <p class="mb-2 pt-2">one liner comes here</p>
        <p class="pb-2">Click on the icons below to Add a product, start a Ticket or Add Reminder</p>
    </div>
    <!--end of title-->
    <!--ticket list-->
    <div class="text-center">
        <ul class="list-inline ticket-list">
            <li class="list-inline-item"><a>
                <img src="img/openticket/Ticketbig.png" alt="Ticket_big_white" class="img-fluid mb-3" ng-click="show=true">
                  <img src="img/openticket/Reminder.png" alt="Ticket_big_white" class="img-fluid mb-3" ng-if="show">
               <span >Open Ticket</span>
                </a>
            </li>
            <li class="list-inline-item"><a><img src="img/openticket/AddProduct.png" alt="Ticket_big_white" class="img-fluid mb-3">
            <span>Add product</span></a></li>
            <li class="list-inline-item"><a>
                <img src="img/openticket/Reminderbig.png" alt="Ticket_big_white" class="img-fluid mb-3">
              <span>Add reminder</span></a></li>
        </ul>
    </div>
    <!--end of list-->
</div>