<div class="container py-md-5 pb-0" ng-controller="headerCtrl">
    <div class="row ticket-creation-main notification">
        <div class="col col-md-3 openticketreminder">
            <div class="bg-white border-rounded p-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="closed-text cursor-point" ng-click="pendingReminders()">
                        <img src="img/header/Notification_circle-icon-orange.png">
                        <div class="notification notification-orange" ng-if="totalPendingReminders">{{totalPendingReminders}}</div>
                        <div class="notification notification-orange" ng-if="!totalPendingReminders">0</div>
                    </div>
                    <div class="closed-text cursor-point" ng-click="completedReminders()">
                        <img src="img/ticketCreation/Notification_circle-icon-green.png">
                        <div class="notification" ng-if="totalCompletedReminder">{{totalCompletedReminder}}</div>
                        <div class="notification" ng-if="!totalCompletedReminder">0</div>
                    </div>
                    <div class="cursor-point" ng-click="reminderModalOpen()">
                        <img src="img/ticketCreation/addButton.png ">
                    </div>
                </div>
                <div class="my-3 open-tickets">
                    <h5 class="d-inline cursor-point" ui-sref="notification">Reminders</h5>
                    <span class="badge badge-style ml-auto">{{totalReminders}}</span>
                    <div class="float-right search-reminders">
                        <form class="position-relative" ng-if="ticketDetails[0].status!='Closed'">
                            <input id="search" name="search" type="text" placeholder="" ng-change="searchForReminderData(reminderSearch,'open')" ng-model="reminderSearch">
                            <div class="search-btn" id="search_submit" value="" ng-click="showHide()"></div>
                        </form>
                        <form class="position-relative" ng-if="ticketDetails[0].status=='Closed'">
                            <input id="search" name="search" type="text" placeholder="">
                            <div class="search-btn" id="search_submit" value="" ng-click="showHide()" ng-change="searchForReminderData(reminderSearch,'closed')"
                                ng-model="reminderSearch"></div>
                        </form>
                    </div>
                </div>
                <div class="border-top listed-openTickets openticket">
                    <div class="d-flex py-1 element-list cursor-point" ng-repeat="reminders in showLessReminders track by $index" ng-click="notificationmodalOpen(reminders,$index, 'modal');">
                        <div class="bullet" ng-if="!reminders.isRead"></div>
                        <div class="d-block pl-4">
                            <div class="product-title text-truncate">{{reminders.title}}</div>
                            <div class="date ">{{reminders.dateOfReminder | date}}</div>
                        </div>
                    </div>
                </div>
                <!-- <div class="text-right  view mt-2" ui-sref='notification'>View All
                                    <span class="pl-2 ">
                                        <i class="fas fa-caret-right "></i>
                                    </span>
                                </div> -->
            </div>
            <tickets class="d-none d-md-block"></tickets>
        </div>

        <div class="col col-md-9 d-none d-md-block" ng-init="modelNo=false">
            <div class="support-chat-history">
                <div class="d-flex">
                    <h6 class="fontRobotoBold blue-color mb-4 text-uppercase">Reminders</h6>
                    <div class="ml-auto">
                        <a role="button" class="button  px-3 py-1 fontRobotoBold text-center snooze-color" ng-click="reminderModalOpen(reminders._id);">Snooze
                            / Edit</a>
                        <a role="button" class="button  px-3 py-1 fontRobotoBold text-center completed-color" ng-click="chnageStatus(reminders._id);">Completed</a>
                        <a role="button" class="button  px-3 py-1 fontRobotoBold text-center delete-btn" ng-click="deleteReminder(reminders._id);">Delete</a>
                    </div>
                </div>
                <uib-accordion close-others="true">
                    <div ng-repeat="reminders in showLessReminders track by $index" class="notification-accordions">
                        <div ng-click="checkCircle(reminders._id)" class="blue-circle p-1"><i class="fas fa-check text-white"></i></div>
                        <div uib-accordion-group class="panel-default reminder-body" is-open="statuses[$index].isOpen" is-disabled="disabled">
                            <uib-accordion-heading>
                                <div class="pl-4" ng-click="statuses[$index].isOpen = !statuses[$index].isOpen">
                                    <div class="d-flex align-items-center" ng-click="notificationmodalOpen(reminders,$index, null);">
                                        <h6 class="fontRobotoBold font14 ml-2 mb-0 text-uppercase">{{reminders.title}}</h6>
                                        <span class="font12 font-color ml-2 d-inline-block w-40 text-truncate" ng-if="!status1.open">
                                            {{reminders.description}}</span>
                                        <div class="ml-auto date-supportchat ">
                                            <span class="font12 ">{{reminders.dateOfReminder | date}}</span>
                                        </div>
                                    </div>
                                    <div class="up-arrow" ng-class="{'rotate-180':status1.open==true}">
                                        <i class="fas fa-sort-down"></i>
                                    </div>
                                </div>
                            </uib-accordion-heading>
                            <div class="pt-0 px-4 pb-4">
                                <p>{{reminders.description}}</p>
                                <div class="text-right">
                                    <a role="button" class="button  px-3 py-1 mx-2  fontRobotoBold text-center snooze-color" ng-click="reminderModalOpen(reminders._id);"
                                        ng-if="reminders.status=='Pending' || reminders.status=='Snooze'">Snooze
                            / Edit
                        </a>
                                    <a role="button" class="button  px-3 py-1 mx-2  fontRobotoBold text-center completed-color" ng-click="chnageStatus(reminders._id);"
                                        ng-if="reminders.status=='Pending' || reminders.status=='Snooze'">Completed
                        </a>
                                    <a role="button" class="button  px-3 py-1 mx-2  fontRobotoBold text-center delete-btn" ng-click="deleteReminder(reminders._id, $index);">Delete
                        </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </uib-accordion>
            </div>
            <div class="float-right">
                <nav aria-label="..." ng-if="(allReminders.length / maxRow) >1">
                    <ul ng-change="changePage(currentPage); " uib-pagination total-items="allReminders.length" items-per-page="maxRow" ng-model="currentPage"
                        max-size="10" class="pagination-sm" boundary-links="true" force-ellipses="true"></ul>
                </nav>
            </div>
            <a role="button" class="button w-25 py-1 float-right fontRobotoBold text-center orange-btn" ng-click="reminderModalOpen()"
                ng-if="reminders.status=='Pending' || reminders.status=='Snooze'">Add Reminder
            </a>
        </div>
    </div>
</div>