<div class="container my-3 product-creation">
    <div class="filters">
        <span>Sort : </span>
        <div class="dropdown d-inline-block">
            <button class="btn btn-default dropdown-toggle ml-2 pr-5 brandsproducts" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Brand
                <span class="dropdown-icon">
                    <i class="fas fa-angle-down"></i>
                </span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Brand1</a>
                <a class="dropdown-item" href="#">Brand2</a>
                <a class="dropdown-item" href="#">Brand3</a>
            </div>
        </div>
        <div class="dropdown d-inline-block">
            <button class="btn btn-default dropdown-toggle ml-2 pr-5 pl-2 brandsproducts" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Product
                <span class="dropdown-icon">
                    <i class="fas fa-angle-down"></i>
                </span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Product1</a>
                <a class="dropdown-item" href="#">Product2</a>
                <a class="dropdown-item" href="#">Product3</a>
            </div>
        </div>
        <button class="export float-right">
            <span>
                <!-- <i class="far fa-file-pdf"></i> -->
                <i class="far fa-file-excel"></i>
            </span>Export Product List</button>
    </div>
    <div class="row mt-4">
        <div class="col col-md-9">
            <div class="row no-gutters">
                <div class="col-xs-12 col-md-3 mb-3 px-2">
                    <div class="bg-white orange-border border-rounded text-center effectonhover" ui-sref="productregistration">
                        <div class="pb-5 addpromain">
                            <div class="d-flex align-items-center justify-content-center addproduct">
                                <i class="fas fa-plus fa-lg orange-color"></i>
                                <div class="bg-white small-circle"></div>
                            </div>
                            <span class="addproducttext">Add New Product</span>
                        </div>
                        <button class="my-3 support-btn">SUPPORT</button>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3 mb-3 px-2" ng-repeat="product in productInfo track by $index">
                    <div class="bg-white border border-rounded text-center effectonhover">
                        <span class="float-right product-icon" ng-click="deleteProduct($index)">
                            <i class="fas fa-ellipsis-v"></i>
                        </span>
                        <div class="addedpromain" ui-sref="productdetailunregistered">
                            <div class="d-flex align-items-center justify-content-center addedproduct" ui-sref="productdetailunregistered">
                                <img src="{{product.largeimage}}" class="img-fluid large-img">
                                <div class="background-blue small-circle">
                                    <img src="{{product.smallimage}}">
                                </div>
                            </div>
                            <div class="addedproducttext pb-2">
                                <span class="product">{{product.productname}}</span>
                                <br>
                                <span class="relation">{{product.relation}}</span>
                                <br>
                                <img src="img/ticketCreation/warranty.png">
                                <span class="expiry">{{product.warranty}}</span>
                            </div>
                        </div>
                        <button class="my-3 addedsupport-btn">SUPPORT</button>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <div class="d-inline-block pluse-circle">
                    <i class="fas fa-plus-circle"></i>
                </div>
                <div class="font-color  d-inline-block">
                    <p class="load-more">Load More</p>
                </div>
            </div>
        </div>
        <div class="col col-md-3">
            <div class="bg-white border-rounded p-3">
                <div class="d-flex justify-content-between">
                    <div ui-sref="ticketcreation">
                        <img src="img/ticketCreation/openTicket.png">
                    </div>
                    <div class="closed-text" ui-sref="closedTicketcreation">
                        <img src="img/ticketCreation/closedTicket.png">
                        <div class="notification">6</div>
                    </div>
                    <div ui-sref="">
                        <img src="img/ticketCreation/addButton.png">
                    </div>
                </div>
                <div class="my-3 open-tickets ">
                    <h5 class="d-inline">Open Tickets</h5>
                    <span class="badge badge-style float-right">14</span>
                </div>
                <div class="border-top listed-openTickets h-25">
                    <div class="d-flex py-1 element-list">
                        <div class="bullet"></div>
                        <div class="d-block pl-4 text-truncate">
                            <div class="product-title text-truncate">Samsung s7 edge Samsung s7 edge</div>
                            <div class="date">12/2/2018</div>
                        </div>
                        <!-- <span class="float-right caret-style">
                            <i class="fas fa-ellipsis-v"></i>
                        </span> -->
                    </div>
                    <div class="d-flex py-1 element-list">
                        <div class="bullet"></div>
                        <div class="d-block pl-4">
                            <div class="product-title text-truncate">Samsung s7 edge Samsung s7 edge</div>
                            <div class="date">12/2/2018</div>
                        </div>
                        <!-- <span class="float-right caret-style">
                            <i class="fas fa-ellipsis-v"></i>
                        </span> -->
                    </div>
                    <div class="d-flex py-1 element-list">
                        <div class="bullet"></div>
                        <div class="d-block pl-4">
                            <div class="product-title text-truncate">Samsung s7 edge Samsung s7 edge</div>
                            <div class="date">12/2/2018</div>
                        </div>
                        <!-- <span class="float-right caret-style">
                            <i class="fas fa-ellipsis-v"></i>
                        </span> -->
                    </div>
                    <div class="d-flex py-1 element-list">
                        <div class="bullet"></div>
                        <div class="d-block pl-4">
                            <div class="product-title text-truncate">Samsung s7 edge Samsung s7 edge</div>
                            <div class="date">12/2/2018</div>
                        </div>
                        <!-- <span class="float-right caret-style">
                            <i class="fas fa-ellipsis-v"></i>
                        </span> -->
                    </div>
               
                </div>
                <div class="text-right mt-2 view">View All
                    <span class="pl-2">
                        <i class="fas fa-caret-right"></i>
                    </span>
                </div>
            </div>
            <div class="bg-white border-rounded p-3 mt-3 productreg">
                <div class="d-flex justify-content-between">
                    <h4 class="orange-color">Reminders</h4>
                    <div ng-controller="headerCtrl" ng-click="reminderModalOpen()">
                        <img src="img/ticketCreation/addButton.png">
                    </div>
                </div>
                <div class="border-top listed-openTickets h-25">
                    <div class="d-flex py-1 element-list">
                        <div class="bullet"></div>
                        <div class="d-block pl-4">
                            <div class="product-title text-truncate">Samsung s7 edge Samsung s7 edge</div>
                            <div class="date">12/2/2018</div>
                        </div>
                        <!-- <span class="float-right caret-style">
                            <i class="fas fa-ellipsis-v"></i>
                        </span> -->
                    </div>
                    <div class="d-flex py-1 element-list">
                        <div class="bullet"></div>
                        <div class="d-block pl-4">
                            <div class="product-title text-truncate">Samsung s7 edge Samsung s7 edge</div>
                            <div class="date">12/2/2018</div>
                        </div>
                        <!-- <span class="float-right caret-style">
                            <i class="fas fa-ellipsis-v"></i>
                        </span> -->
                    </div>
                    <div class="d-flex py-1 element-list">
                        <div class="bullet"></div>
                        <div class="d-block pl-4">
                            <div class="product-title text-truncate">Samsung s7 edge</div>
                            <div class="date">12/2/2018</div>
                        </div>
                        <!-- <span class="float-right caret-style">
                            <i class="fas fa-ellipsis-v"></i>
                        </span> -->
                    </div>
                    <div class="d-flex py-1 element-list">
                        <div class="bullet"></div>
                        <div class="d-block pl-4">
                            <div class="product-title text-truncate">Samsung s7 edge</div>
                            <div class="date">12/2/2018</div>
                        </div>
                        <!-- <span class="float-right caret-style">
                            <i class="fas fa-ellipsis-v"></i>
                        </span> -->
                    </div>
                
                </div>
                <div class="text-right  mt-2 view">View All
                    <span class="pl-2">
                        <i class="fas fa-caret-right"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>