<div class="container my-3 product-creation" ng-controller="headerCtrl">
    <div class="filters">
        <span>Sort : </span>
        <div class="dropdown d-inline-block">
            <button class="btn btn-default dropdown-toggle ml-2 pr-5 brandsproducts" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Brand
                <span class="dropdown-icon">
                    <i class="fas fa-angle-down"></i>
                </span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Brand1</a>
                <a class="dropdown-item" href="#">Brand2</a>
                <a class="dropdown-item" href="#">Brand3</a>
            </div>
        </div>
        <div class="dropdown d-inline-block">
            <button class="btn btn-default dropdown-toggle ml-2 pr-5 pl-2 brandsproducts" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Product
                <span class="dropdown-icon">
                    <i class="fas fa-angle-down"></i>
                </span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Product1</a>
                <a class="dropdown-item" href="#">Product2</a>
                <a class="dropdown-item" href="#">Product3</a>
            </div>
        </div>
        <button class="export float-right">
            <span>
                <!-- <i class="far fa-file-pdf"></i> -->
                <i class="far fa-file-excel"></i>
            </span>Export Product List</button>
    </div>
    <div class="row mt-4">
        <div class="col col-md-9">
            <div class="row no-gutters">
                <div class="col-xs-12 col-md-3 mb-3 px-2">
                    <div class="bg-white orange-border border-rounded text-center effectonhover" ui-sref="productregistration">
                        <div class="pb-5 addpromain">
                            <div class="d-flex align-items-center justify-content-center addproduct">
                                <i class="fas fa-plus fa-lg orange-color"></i>
                                <div class="bg-white small-circle"></div>
                            </div>
                            <span class="addproducttext">Add New Product</span>
                        </div>
                        <button class="my-3 support-btn">SUPPORT</button>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3 mb-3 px-2" ng-repeat="product in allProducts track by $index">
                    <div class="bg-white border border-rounded text-center effectonhover">
                        <span class="float-right product-icon" ng-click="deleteProduct($index)">
                            <i class="fas fa-trash-alt"></i>
                        </span>
                        <div class="addedpromain" ui-sref="productdetailregistered({id: product._id})">
                            <div class="d-flex align-items-center justify-content-center addedproduct" ui-sref="productdetailregistered({id: product._id})">
                                <img class="img-thumbnail" ng-src="{{product.productImages[0] | serverimage}}" alt="">
                                <div class="background-blue small-circle">
                                    <img src="{{product.smallimage}}">
                                </div>
                            </div>
                            <div class="addedproducttext pb-2">
                                <span class="product">{{product.productName}}</span>
                                <br>
                                <span class="relation">{{product.relation}}</span>
                                <br>
                                <img src="img/ticketCreation/warranty.png">
                                <span class="expiry">{{product.warranty}}</span>
                            </div>
                        </div>
                        <!-- <button class="my-3 addedsupport-btn" ng-click="addTicket(product._id)"> SUPPORT</button> -->
                        <button class="my-3 addedsupport-btn" ui-sref="ticketcreation({id: product._id})"> SUPPORT</button>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <div class="d-inline-block pluse-circle">
                    <i class="fas fa-plus-circle"></i>
                </div>
                <div class="font-color  d-inline-block">
                    <p class="load-more">Load More</p>
                </div>
            </div>
        </div>
        <div class="col col-md-3 openticketreminder">
            <div class="bg-white border-rounded p-3">
                <div class="d-flex justify-content-between">
                    <div class="closed-text" ng-click="getOpenTickets()">
                        <img src="img/ticketCreation/openTicket.png">
                        <div class="notification notification-orange" ng-if="!totalNumberOfOpenTickets">0</div>
                        <div class="notification notification-orange" ng-if="totalNumberOfOpenTickets">{{totalNumberOfOpenTickets}}</div>
                    </div>
                    <div class="closed-text" ng-click="getClosedTickets()" ng-if="totalNumberOfClosedTickets">
                        <img src="img/ticketCreation/closedTicket.png">
                        <div class="notification" ng-if="!totalNumberOfClosedTickets">0</div>
                        <div class="notification" ng-if="totalNumberOfClosedTickets">{{totalNumberOfClosedTickets}}</div>
                    </div>
                    <div class="closed-text" ng-if="!totalNumberOfClosedTickets">
                        <img src="img/ticketCreation/closedTicket.png">
                        <div class="notification" ng-if="!totalNumberOfClosedTickets">0</div>
                        <div class="notification" ng-if="totalNumberOfClosedTickets">{{totalNumberOfClosedTickets}}</div>
                    </div>
                    <div ui-sref="ticketcreation">
                        <img src="img/ticketCreation/addButton.png ">
                    </div>
                </div>
                <div class="my-3 open-tickets ">
                    <h5 class="d-inline">Open Tickets</h5>
                    <!-- <h5 class="d-inline" ng-show="!show">Open Tickets</h5>
                        <h5 class="d-inline" ng-show="show">closed Tickets</h5> -->
                    <span class="badge badge-style ">{{totalNumberOfTickets}}</span>
                    <div class="float-right custom-searchbar">
                        <form action="" autocomplete="on" class="position-relative">
                            <input id="search" name="search" type="text" placeholder="">
                            <input id="search_submit" value="Rechercher" type="submit">
                        </form>
                    </div>
                </div>
                <div class="border-top listed-openTickets openticket ">
                    <div class="d-flex py-1 element-list " ng-repeat="tickets in ticketDetails">
                        <div class="bullet "></div>
                        <div class="d-block pl-4">
                            <div class="product-title text-truncate">{{tickets.product.productName}}</div>
                            <div class="date ">{{tickets.issueReported | date}}</div>
                        </div>
                        <!-- <span class="float-right caret-style ">
                                <i class="fas fa-ellipsis-v"></i>
                                
                            </span> -->
                    </div>
                </div>
                <div class="text-right  view mt-2" ng-if="ticketDetails[0].status=='Active'" ui-sref='ticketopen-notification'>View All
                    <span class="pl-2 ">
                        <i class="fas fa-caret-right "></i>
                    </span>
                </div>
                <div class="text-right  view mt-2" ng-if="ticketDetails[0].status=='Closed'" ui-sref='closedTicketcreation'>View All
                    <span class="pl-2 ">
                        <i class="fas fa-caret-right "></i>
                    </span>
                </div>
            </div>
            <div class="bg-white border-rounded p-3 mt-2">
                <div class="d-flex justify-content-between">
                    <div class="closed-text" ng-click="pendingReminders()">
                        <img src="img/header/Notification_circle-icon-orange.png">
                        <div class="notification notification-orange" ng-if="totalPendingReminders">{{totalPendingReminders}}</div>
                        <div class="notification notification-orange" ng-if="!totalPendingReminders">0</div>

                    </div>
                    <div class="closed-text" ng-if="!totalCompletedReminder">
                        <img src="img/ticketCreation/Notification_circle-icon-green.png">
                        <div class="notification" ng-if="totalCompletedReminder">{{totalCompletedReminder}}</div>
                        <div class="notification" ng-if="!totalCompletedReminder">0</div>
                    </div>
                    <div class="closed-text" ng-click="completedReminders()" ng-if="totalCompletedReminder">
                        <img src="img/ticketCreation/Notification_circle-icon-green.png">
                        <div class="notification" ng-if="totalCompletedReminder">{{totalCompletedReminder}}</div>
                        <div class="notification" ng-if="!totalCompletedReminder">0</div>
                    </div>
                    <div ng-click="reminderModalOpen()">
                        <img src="img/ticketCreation/addButton.png ">
                    </div>
                </div>
                <div class="my-3 open-tickets ">
                    <h5 class="d-inline ">Reminders</h5>
                    <span class="badge badge-style ml-auto">{{totalReminders}}</span>
                    <div class="float-right custom-searchbar">
                        <form action="" autocomplete="on" class="position-relative">
                            <input id="search" name="search" type="text" placeholder="">
                            <input id="search_submit" value="Rechercher" type="submit">
                        </form>
                    </div>
                </div>

                <div class="border-top listed-openTickets openticket ">
                    <div class="d-flex py-1 element-list " ng-repeat="reminders in showLessReminders">
                        <div class="bullet "></div>
                        <div class="d-block pl-4 ">
                            <div class="product-title text-truncate">{{reminders.title}}</div>
                            <div class="date ">{{reminders.dateOfReminder | date}}</div>
                        </div>

                    </div>

                </div>
                <div class="text-right  view mt-2" ui-sref='notification'>View All
                    <span class="pl-2 ">
                        <i class="fas fa-caret-right "></i>
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>