<div class="container my-3 product-creation" ng-controller="headerCtrl">
    <div class="filters">
        <!-- <span>Sort Alphabetically : </span>
        <div class="d-inline-block">
            <button type="button" class="btn btn-default" ng-click="sortByBrand()">Brand</button>
        </div> -->
        <div class="d-inline-block ">
            <button type="button" class="btn btn-primary" class="btn btn-default" ng-click="sortByProduct()"> Sort
                Products Alphabetically</button>
        </div>
        <button class="export" ng-click="generateExcel()">
            <span>
                <!-- <i class="far fa-file-pdf"></i> -->
                <i class="far fa-file-excel"></i>
            </span>Export Product List
        </button>
    </div>
    <div class="row mt-4 spacing-top">
        <div class="col col-md-9">
            <div class="row no-gutters product-section">
                <div class="col-6 col-md-4 col-lg-3 mb-1 mb-md-3 px-0 px-lg-2">
                    <div class="bg-white orange-border border-rounded text-center effectonhover" ui-sref="productregistration">
                        <div class="pb-5 addpromain">
                            <div class="d-flex align-items-center justify-content-center addproduct">
                                <i class="fas fa-plus fa-lg orange-color"></i>
                                <div class="bg-white small-circle"></div>
                            </div>
                            <span class="addproducttext">Add New Product</span>
                        </div>
                        <button class="my-3 support-btn">SUPPORT</button>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 mb-1 mb-md-3 px-0 px-lg-2" ng-repeat="product in productPerPage track by $index">
                    <div class="bg-white border border-rounded text-center effectonhover">
                        <span class="float-right product-icon" ng-click="productDelete($index)">
                            <i class="fas fa-trash-alt"></i>
                        </span>
                        <div class="addedpromain" ui-sref="productdetailregistered({id: product._id})">
                            <div class="d-flex align-items-center justify-content-center addedproduct" ui-sref="productdetailregistered({id: product._id})">
                                <img class="img-fluid large-img" ng-src="{{product.productImages[0] | serverimage}}"
                                    alt="">
                                <div class="background-blue small-circle">
                                    <img ng-src="{{product.productImages[0] | serverimage}}">
                                </div>
                            </div>
                            <div class="addedproducttext pb-2">
                                <span class="product">{{product.productName}}</span>
                                <br>
                                <span class="relation">{{product.relation}}</span>
                                <br>
                                <img ng-if="!product.ribbon" src="img/ticketCreation/warranty.png">
                                <font ng-if="!product.ribbon" class="font12 green-color">Warranty exp in
                                    {{product.months}} months</font>
                                <img ng-if="product.ribbon" src="img/ticketCreation/red_warranty.png">
                                <font ng-if="product.ribbon" class="font12" color="red">Warranty exp in
                                    {{product.daysLeft}} days</font>

                                <span class="expiry">{{product.warranty}}</span>
                            </div>
                        </div>
                        <!-- <button class="my-3 addedsupport-btn" ng-click="addTicket(product._id)"> SUPPORT</button> -->
                        <button class="my-3 addedsupport-btn" ui-sref="ticketcreation({id: product._id})"> SUPPORT</button>
                    </div>
                </div>
            </div>
            <div class="float-right mr-2">
                <nav ng-if="(allProducts.length / maxRow) >1">
                    <ul ng-change="changePage(currentPage);" uib-pagination total-items="allProducts.length"
                        items-per-page="maxRow" ng-model="currentPage" max-size="10" class="pagination-sm"
                        boundary-links="true" force-ellipses="true"></ul>
                </nav>
            </div>
            <!-- <div class="text-center">
                <div class="d-inline-block pluse-circle">
                    <i class="fas fa-plus-circle"></i>
                </div>
                <div class="font-color  d-inline-block">
                    <p class="load-more" ng-click="loadMore()">Load More</p>
                </div>
            </div> -->
        </div>
        <div class="col col-md-3 openticketreminder d-none d-md-block">
            <tickets></tickets>
            <reminders></reminders>
        </div>
    </div>
</div>