<header>
    <div class="navbar navbar-expand-lg navbar-primary fixed-top custom-header bg-primary">
        <a class="navbar-brand ml-4" ui-sref="home">
            <img src="img/header/PumpkiinLogo.png" alt="logo" width="130">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline mr-auto mx-auto position-relative">
                <div class="product-search">
                    <img src="img/header/Search-icon.png" alt="Search-icon" class="search-icon">
                    <input class="mr-sm-6" type="text" placeholder="Search for brands of product" ng-model="productSearch">
                </div>
                <div class="product-drop" ng-if="productSearch">
                    <div class="product" ng-repeat="product in productList | filter:productSearch" ui-sref="productdetailunregistered">{{product.name}}
                        <img ng-src="{{product.img}}" ng-if="product.img">
                    </div>
                </div>
            </form>
            <ul class="navbar-nav  my-2 my-lg-0 mr-4">
                <li class="list-inline-item nav-item right-icon-width mx-2" ui-sref="ticketcreation">
                    <img src="img/header/Ticket_circle-icon.png" alt="Ticket_circle-icon" class="w-100" ng-if="currentState!=='ticketcreation'">
                    <img src="img/header/Ticket_circle-icon-orange.png" alt="Ticket_circle-icon" class="w-100" ng-if="currentState=='ticketcreation'">
                </li>
                <li class="list-inline-item nav-item right-icon-width mx-2" ui-sref="productListing">
                    <img src="img/header/Products_circle-icon.png" alt="Products_circle-icon" class="w-100" ng-if="currentState!=='productListing'">
                    <img src="img/header/Products_circle-icon-orange.png" alt="Products_circle-icon" class="w-100" ng-if="currentState=='productListing'">
                </li>
                <li class="list-inline-item nav-item right-icon-width mx-2">
                    <img src="img/header/Notification_circle-icon.png" alt="Notification_circle-icon" class="w-100">
                    <!-- <img src="img/header/Notification_circle-icon-orange.png" alt="Notification_circle-icon" class="w-100"> -->
                </li>
                <li class="list-inline-item nav-item mx-2" ui-sref="profile">
                    <div class="user-profile rounded-circle">
                        <img src="img/header/profile.png" alt="Ticket_circle-icon" width="100%">
                    </div>
                </li>
                <li class="list-inline-item nav-item position-relative header-dropdown" ng-click="profile= !profile">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            <i class="fa fa-chevron-down text-white pl-1" aria-hidden="true"></i>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="px-2">
                                <a ui-sref="profile">Profile</a>
                            </li>
                            <li class="px-2">
                                <a>Terms &amp; Conditions</a>
                            </li>
                            <li class="px-2 pb-1">
                                <a>Privacy Policy</a>
                            </li>
                            <li class="py-1 px-2 font18 logout-style">
                                <a ui-sref="home" class="orange-color">LOGOUT</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- <li class="list-inline-item nav-item position-relative" ng-click="profile= !profile">
                    <i class="fa fa-chevron-down text-white pl-1" aria-hidden="true"></i>
                    <div class="profile-menu" ng-if="profile">
                        <div class="menu-item" ui-sref="profile">Profile</div>
                        <div class="menu-item">Terms &nbsp; Conditions</div>
                        <div class="menu-item">Privacy Policy</div>
                        <div class="menu-item" ui-sref="home">Logout</div>
                    </div>
                </li> -->
            </ul>
        </div>
</header>