<header hide-on-scroll>
    <nav class="navbar navbar-expand-md bg-white fixed-top">
        <a class="navbar-brand w-50" href="#"><img src="img/header/Pumpkiinlogo.png" class="img-fluid"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
            aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
        <div class="collapse navbar-collapse  justify-content-center" id="navbarText">
            <ul class="navbar-nav header-text ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Become a Service Provider</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login / Sign Up</a>
                </li>
            </ul>
        </div>
    </nav>
</header>