<!-- <img src="img/under.png" class="img-fluid" alt="Absolute" height="100%"> -->
<div class="background-blue home-section">
    <div class="d-block d-lg-flex">
        <div class="align-self-center order-2 text-white home-section-content">
            <div class="pt-5 pt-md-0">
                <div class="line-spacing-height text-center" style="font-size: 90px;">Coming Soon!!!</div>
                <!-- <div style="font-size: 25px;font-family: Roboto-Light"></div> -->
            </div>
        </div>
        <div class="align-self-end order-1 img-section">
            <img src="img/home/homeBanner.png" class="img-fluid">
        </div>
    </div>
</div>