.bg-image {
    // background: url("../img/bg.jpg");
    height: 91.8vh;
    background-size: cover;
    background-position: top left;
    .bg_overlay {
        background-color: rgba(255, 167, 78, 0.37);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

::-webkit-input-placeholder {
    color: peachpuff;
    font-size: 12px;
}

::-moz-placeholder {
    color: peachpuff;
    font-size: 12px;
}

:-ms-input-placeholder {
    color: peachpuff;
    font-size: 12px;
}

::placeholder {
    color: peachpuff;
    font-size: 12px;
}

.constant-text {
    width: 100%;
    .custom_input {
        color: #7F7F7F;
        text-align: center;
        position: relative;
    }
    &:before {
        content: '+91';
        padding-right: 5px;
        position: absolute;
        left: 12%;
        top: 43%;
        transform: translate(-50%, -50%);
        z-index: 1;
        border-right: solid 1px #333;
    }
}

.login-btn {
    border-radius: 20px;
    background: $orange;
    color: white;
    border: solid 1px transparent;
    &:hover {
        background: white;
        color: $orange;
        border: solid 1px $orange;
    }
}

.facebook {
    .social_icon {
        padding: 8px 15px;
        background: #4267b2;
    }
    .social-text {
        background: #4267b2;
    }
    &:hover {
        .social_icon {
            background: white;
            color: #51658F;
            border: solid 2px #4267b2;
        }
        .social-text {
            background: white;
            color: #4267b2;
            border: solid 1px #4267b2;
        }
    }
}

.google {
    .social_icon {
        padding: 8px 12px;
        background-color: #D44E3D;
    }
    .social-text {
        background-color: #D44E3D;
    }
    &:hover {
        .social_icon {
            background: white;
            color: #D44E3D;
            border: solid 2px #D44E3D;
        }
        .social-text {
            background: white;
            color: #D44E3D;
            border: solid 1px #D44E3D;
        }
    }
}

.otp-send .otp-input {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #D4D4D4;
    color: #707070;
    text-align: center;
}

.loginsignup {
    position: relative;
    &:before {
        content: 'OR';
        @extend .fontRobotoRegular;
        position: absolute;
        left: 46%;
        bottom: -21px;
        font-size: 12px;
        padding: 2px;
        color: white;
        border-radius: 50%;
        background-color: #142C5C;
        border: solid 5px #142C5C;
    }
}

.padl150 {
    padding-left: 150px;
}