<div class="container py-md-5 pb-0" ng-controller="headerCtrl">
    <div class="row ticket-creation-main ticket-open">
        <div class="col col-md-3 openticketreminder">
            <tickets></tickets>
            <reminders></reminders>
        </div>

        <div class="col col-md-9 d-none d-md-block">
            <div class="support-chat-history">
                <h6 class="fontRobotoBold blue-color mb-4 text-uppercase">Open Tickets</h6>
                <div class="bg-white border-rounded p-4 my-2" ng-repeat="tickets in ticketData track by $index" ui-sref="ticketcreation({id:tickets.product._id})">
                    <div class="d-flex align-items-center ">
                        <div class="blue-circle"></div>
                        <h6 class="fontRobotoBold font14 ml-2 mb-0 ">{{tickets.ticketNumber}}</h6>
                        <!-- <span class="font12 font-color ml-2 d-inline-block w-25 text-truncate ">Dear Support Team, Maecenas faucibus mollis interdum. Etiam porta sem malesuada...</span> -->
                        <div class="ml-auto date-supportchat ">
                            <span class="font12 ">{{tickets.product.productName}}</span>
                        </div>
                        <!-- <div class="ml-auto date-supportchat">
                            <div class="font12 ">{{tickets.issueReported | date}}</div>
                        </div> -->
                        <div class="ml-auto">
                            <div class="font12">{{tickets.issueReported | date}}</div>
                            <div class="font12 green-color" ng-if="tickets.status=='Active'">Open</div>
                            <div class="font12 green-color" ng-if="tickets.status=='Closed'">Closed</div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="totalitems>5" class="float-right">
                <nav aria-label="...">
                    <ul ng-change="changePage(currentPage); " uib-pagination total-items="totalitems" items-per-page="maxRow" ng-model="currentPage"
                        max-size="maxRow" class="pagination-sm" boundary-links="true" force-ellipses="true"></ul>
                </nav>
            </div>
        </div>
    </div>
</div>