<style>
    .circle1:before {
        content: '12/2/2018 \aTicket\00a0 Opened';
        left: 0;
    }

    .circle2:before {
        content: '13/2/2018\aRepair/\aMaintenance\A(On-site)';
        left: 0;
    }

    .circle3:before {
        content: '12/2/2018 \a Scheduling\00a0 \aservice\00a0with\00a0\a customer\00a0 (Open)';
        left: 0;
    }

    .circle4:before {
        content: '12/2/2018 \a Coordinating \a with\00a0 the\00a0 service \a provider\00a0 (Open)';
        left: 0;
    }

    .circle5:before {
        content: '12/2/2018 \a Service\00a0 confirmed (In-progress)';
        left: 0;
    }

    .circle6:before {
        content: '12/2/2018 \a Service\00a0 completed (Closed)';
        left: 0;
    }

    .circle7:before {
        content: '12/2/2018 \a Awaiting\00a0 feedback (Closed)';
        left: 0;
    }

    .circle8:before {
        content: '12/2/2018 \a Appliance\00a0 picked \00a0up (In-progress)';
        left: 0;
    }

    .circle9:before {
        content: '12/2/2018 \a Appliance \00a0 returned (Closed)';
        left: 0;
    }

    .circle10:before {
        content: '12/2/2018 \a Completed (Completed)';
        text-align: right;
        right: 0;
    }
</style>
<div class="container py-0 py-md-5" ng-controller="headerCtrl">
    <div class="row ticket-creation-main">
        <div class="col col-md-3 d-none d-md-block openticketreminder">
            <tickets></tickets>
            <reminders></reminders>
        </div>
        <div class="col col-md-9 " ng-init="modelNo=false ">
            <div class="background-blue border-rounded p-4">
                <div class="media">
                    <div class="img-div ">
                        <img src="img/iphone.jpeg " class="img-fluid large-img ">
                        <div class="d-flex align-items-center justify-content-center small-img ">
                            <img src="img/ticketCreation/mobile.png " width="10 ">
                        </div>
                    </div>
                    <div class="media-body pl-4 text-white ">
                        <h5 class="mt-0 fontRobotoMedium font20 position-relative" ng-click="modelNo=! modelNo">
                            <div ng-if="ticketDetails.ticketNumber">Support ID: {{ticketDetails.ticketNumber}}</div>
                            <div ng-if="!ticketDetails.ticketNumber">Support ID: ---</div>
                            <div class="position-absolute clock" ng-if="ticketDetails.ticketNumber">
                                <i class="far fa-clock"></i>
                                </i>{{ticketDetails.issueReported | date}}
                            </div>
                            <div>
                                <span class="float-right orange-color cursor-point">
                                    <span ng-show="modelNo">
                                        <i class="fas fa-angle-up"></i>
                                    </span>
                                <span ng-show="!modelNo">
                                        <i class="fas fa-angle-down"></i>
                                    </span>
                                </span>
                            </div>
                        </h5>
                        <span class="fontRobotoBold font14 ">PRODUCT INFORMATION</span>
                        <p class="fontRobotoRegular font20 m-0">{{productDetails.productName}}
                            <span class="pl-2 fontRobotoLight "> ({{productDetails.brand}})</span>
                        </p>
                        <div class="row fontRobotoRegular font14 info-div mt-1" ng-show="modelNo ">
                            <div class="col col-md-6 ">
                                <p class="d-flex align-items-top ">
                                    <span class="d-inline-block w-40 ">Model Number : </span>
                                    <span class="d-inline-block w-60 ">{{productDetails.modelNo}}</span>
                                </p>
                                <p class="d-flex align-items-top ">
                                    <span class="d-inline-block w-40 ">Purchase Price : </span>
                                    <span class="d-inline-block w-60 "> {{productDetails.purchasePrice}}</span>
                                </p>
                                <p class="d-flex align-items-top ">
                                    <span class="d-inline-block w-40 ">Store : </span>
                                    <span class="d-inline-block w-60 ">{{productDetails.retailer}}</span>
                                </p>
                                <!-- <p class="d-flex align-items-top ">
                                    <span class="d-inline-block w-40 ">Attached Files : </span>
                                    <span class="d-inline-block w-60 ">
                                        <span class="d-inline-block img-uploaded "></span>
                                        <span class="d-inline-block img-uploaded "></span>
                                        <span class="d-inline-block img-uploaded "></span>
                                        <span class="d-inline-block img-uploaded "></span>
                                    </span>
                                </p> -->
                            </div>
                            <div class="col col-md-6 ">
                                <p class="d-flex align-items-top ">
                                    <span class="d-inline-block w-40 ">Serial Number : </span>
                                    <span class="d-inline-block w-60 ">{{productDetails.serialNo}}</span>
                                </p>
                                <p class="d-flex align-items-top ">
                                    <span class="d-inline-block w-40 ">Purchase Date : </span>
                                    <span class="d-inline-block w-60 "> {{productDetails.purchaseDate |date}}</span>
                                </p>
                                <p class="d-flex align-items-top ">
                                    <span class="d-inline-block w-40 ">Warranty : </span>
                                    <span class="d-inline-block w-60 green-color "> {{productDetails.warrantyExpDate
                                        |date}}</span>
                                </p>
                                <p class="d-flex align-items-top ">
                                    <span class="d-inline-block w-40 ">Relation : </span>
                                    <span class="d-inline-block w-60 " ng-repeat="relatives in productDetails.relatedUser">
                                        <span class="d-inline-block bg-white blue-color border-rounded px-2 mb-2 mr-2 ">{{relatives.relationType}}
                                            <!-- <i class="fas fa-times "></i> -->
                                        </span>
                                    <!-- <span class="d-inline-block bg-white blue-color border-rounded px-2 mb-2 mr-3 ">Mother
                                            <i class="fas fa-times "></i>
                                        </span> -->
                                    <!-- <button class="border-rounded background-orange border-0 text-white " ng-click="newUserModalOpen();">Add New User
                                            <i class="fas fa-plus "></i>
                                        </button> -->
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bg-white mt-2 p-4 border-rounded productreg">
                <h6 class="fontRobotoLight d-inline font-mob">SUPPORT TIMELINE</h6>
                <h6 class="fontRobotoLight d-inline orange-color float-right font-mob" ng-if="ticketDetails.status">SUPPORT STATUS: {{ticketDetails.status}}</h6>
                <h6 class="fontRobotoLight d-inline orange-color float-right font-mob" ng-if="!ticketDetails.status">SUPPORT STATUS: Ticket Not Generated</h6>
                <div class="my-5 support-timeline d-none d-lg-block">
                    <div class="circle circle1 timeline-active"></div>
                    <div class="circle circle{{$index+2}} {{subStatus.activeClass}}" ng-repeat="subStatus in statusArray track by $index"></div>
                </div>
                <div class="position-relative d-lg-none">
                    <uib-accordion>
                        <div uib-accordion-group class="panel-default" is-open="status.open">
                            <uib-accordion-heading id="accordian-head" class="bg-white border-0">
                                <div class="accor-status"></div><span class="status">Status<br>12/9/2018</span>
                                <div class="accor-head font-color">
                                    View Timeline<i class="fas orange-color ml-2" ng-class="{'fa-chevron-right': status.open, 'fa-chevron-down': !status.open}"></i>
                                </div>
                            </uib-accordion-heading>
                            <div class="my-5 support-timeline">
                                <div class="circle circle1 timeline-active"></div>
                                <div class="circle circle{{$index+2}} {{subStatus.activeClass}}" ng-repeat="subStatus in statusArray track by $index"></div>
                            </div>
                        </div>
                    </uib-accordion>
                </div>
            </div>
            <form ng-submit="addComment(chatData)">
                <div class="bg-white mt-2 border-rounded productreg">
                    <div class="p-4">
                        <h6 class="pb-3 pt-2 fontRobotoBold blue-color space-letter support-chat ">SUPPORT CHAT</h6>
                        <div class="chat my-2">
                            <div ng-repeat="chat in ticketDetails.customerChat">
                                <div class="d-flex align-items-center mb-2 you" ng-if="chat.user!=jstrgValue._id">
                                    <div class="img-fluid image ">
                                        <img src="img/ticketCreation/profile.jpeg">
                                    </div>
                                    <div class="ml-2 px-3 py-1 chat-content " ng-if="chat.comment">{{chat.comment}}</div>
                                    <div ng-if="chat.file">
                                        <a ng-href="http://wohlig.io:80/api/upload/readFile?file={{chat.file}}" target="blank">
                                            <i class="fas fa-file-download" style="font-size: 40px"></i>
                                        </a>
                                        <!-- <img class="img-thumbnail w-25 float-right" ng-src="{{chat.file | serverimage}}" alt=""> -->
                                    </div>
                                    <div class="mr-2 px-3 py-1 chat-content " ng-if="chat.pickUpDetails">Contact Person:{{chat.pickUpDetails.contactPerson}}
                                        <br>Contact Number:{{chat.pickUpDetails.contactNumber}}
                                        <br> Address:{{chat.pickUpDetails.pickUpAddress}}
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-2 flex-row-reverse me" ng-if="chat.user==jstrgValue._id">
                                    <!-- <div class="img-fluid image ">
                                        <img src="img/ticketCreation/profile.jpeg ">
                                    </div> -->
                                    <div class="mr-2 px-3 py-1 chat-content" ng-if="chat.comment">{{chat.comment}}</div>
                                    <div ng-if="chat.file">
                                        <a ng-href="http://wohlig.io:80/api/upload/readFile?file={{chat.file}}" target="blank">
                                            <i class="fas fa-file-download" style="font-size: 40px"></i>
                                        </a>
                                        <!-- <img class="img-thumbnail w-25 float-right" ng-src="{{chat.file | serverimage}}" alt=""> -->
                                    </div>
                                    <div class="mr-2 px-3 py-1 chat-content " ng-if="chat.pickUpDetails">Contact Person:{{chat.pickUpDetails.contactPerson}}
                                        <br>Contact Number:{{chat.pickUpDetails.contactNumber}}
                                        <br> Address:{{chat.pickUpDetails.pickUpAddress}}
                                    </div>
                                </div>
                                <div class="text-center gray-color font14 mt-3 ">{{chat.date | date}}</div>
                            </div>
                        </div>
                        <div class="message-send-input">
                            <div class="send">
                                <img src="img/ticketCreation/submit.png " ng-click="addComment(chatData)">
                            </div>
                            <div class="scrollbar-tcreation">
                                <upload-image ng-model="chatData.image" image-src="../img/ticketCreation/attachment.png" image-class="attachment" no-view></upload-image>
                            </div>
                            <!-- <div class="attachment">
                                <img class=" " src="img/ticketCreation/attachment.png ">
                                <input type="file" name="pic" accept="" class="custom-file">
                            </div> -->
                            <form ng-submit="addComment(chatData)">
                                <input type="text" class="form-control message mt-5" placeholder="Type your message ... " ng-model="chatData.comment" required>
                            </form>
                        </div>
                    </div>
                    <!-- <div class="text-center pb-4 border-dashed-bottom ">Ticket Closed on 15/2/2018</div> -->
                </div>
                <!-- <div class="my-4 chat-button " ng-controller="headerCtrl " ng-click="reminderModalOpen() ">
                    <button class="reminder-btn ">
                        <i class="fas fa-calendar-alt mr-3 "></i>ADD REMINDER</button>
                    <button class="float-right close-btn " ui-sref="productListing ">
                        <span class="close-icon ">
                            <i class="fas fa-times "></i>
                        </span>Close</button>
                </div> -->
            </form>
        </div>
    </div>
</div>