<style>
    .circle1:before {
        content: attr(data-before-content)'\aTicket\00a0 Opened';
        left: 0;
    }

    .circle2:before {
        content: attr(data-before-content)'\aRepair/\aMaintenance\A';
        left: 0;
    }

    .circle3:before {
        content: attr(data-before-content)'\a Scheduling\00a0 \aservice\00a0with\00a0\a customer\00a0';
        left: 0;
    }

    .circle4:before {
        content: attr(data-before-content)'\a Coordinating \a with\00a0 the\00a0 service \a provider\00a0';
        left: 0;
    }

    .circle5:before {
        content: attr(data-before-content)'\a Service \00a0 confirmed';
        left: 0;
    }

    .circle6:before {
        content: attr(data-before-content)'\a Service \00a0 completed ';
        left: 0;
    }

    .circle7:before {
        content: attr(data-before-content)'\a Appliance \00a0 picked\00a0 up';
        left: 0;
    }

    .circle8:before {
        content: attr(data-before-content)'\a Appliance \00a0 returned';
        left: 0;
    }

    .circle9:before {
        content: attr(data-before-content)'\a Awaiting \00a0 feedback';
        left: 0;
    }

    .circle10:before {
        content: attr(data-before-content)'\a Completed';
        text-align: right;
        right: 0;
    }
</style>
<div class="container py-0 py-md-5" ng-controller="headerCtrl">
    <div class="row ticket-creation-main">
        <div class="col col-md-3 d-none d-md-block openticketreminder">
            <!-- <tickets></tickets> -->
            <div class="bg-white border-rounded p-3">
                <div class="d-flex justify-content-between">
                    <div class="closed-text cursor-point" ng-click="getOpenTickets()">
                        <img ng-if="ticketDetails[0].status!='Closed'" src="img/ticketCreation/openTicket.png">
                        <img ng-if="ticketDetails[0].status=='Closed'" src="img/ticketCreation/open-ticket-name.png">
                        <!-- <div class="notification notification-orange" ng-if="!totalNumberOfOpenTickets">0</div> -->
                        <div class="notification notification-orange" ng-if="totalNumberOfOpenTickets">{{totalNumberOfOpenTickets}}</div>
                    </div>
                    <div class="closed-text cursor-point" ng-click="getClosedTickets()">
                        <img ng-if="ticketDetails[0].status!='Closed'" src="img/ticketCreation/green-ticket-01.png">
                        <img ng-if="ticketDetails[0].status=='Closed'" src="img/ticketCreation/green-ticket-02.png">
                        <!-- <div class="notification" ng-if="!totalNumberOfClosedTickets">0</div> -->
                        <!-- <div class="notification" ng-if="totalNumberOfClosedTickets">{{totalNumberOfClosedTickets}}</div> -->
                    </div>
                    <!-- <div class="closed-text cursor-point" ng-if="!totalNumberOfClosedTickets">
                        <img src="img/ticketCreation/closedTicket.png">
                        <div class="notification" ng-if="!totalNumberOfClosedTickets">0</div>
                        <div class="notification" ng-if="totalNumberOfClosedTickets">{{totalNumberOfClosedTickets}}</div>
                    </div> -->
                    <div class="cursor-point" ng-click="askRegistration()">
                        <img src="img/ticketCreation/addButton.png ">
                    </div>
                </div>
                <div class="my-3 open-tickets ">
                    <h5 class="d-inline cursor-point" ui-sref="ticketopen-notification" ng-if="ticketDetails[0].status!='Closed'">Open
                        Tickets
                    </h5>

                    <h5 class="d-inline cursor-point" ui-sref="ticketclose-notification" ng-if="ticketDetails[0].status=='Closed'">Closed
                        Tickets
                    </h5>
                    <span class="badge badge-style" ng-if="ticketDetails[0].status!='Closed'">{{countOpenTickets}}</span>
                    <span class="badge badge-style" ng-if="ticketDetails[0].status=='Closed'">{{totalNumberOfClosedTickets}}</span>
                    <div class="float-right search-reminders">
                        <form class="position-relative" ng-if="ticketDetails[0].status!='Closed'">
                            <input id="search" name="search" type="text" placeholder="" ng-change="searchForTicketData(ticketSearch,'open')"
                                ng-model="ticketSearch">
                            <div class="search-btn" id="search_submit" value="" ng-click="showHide()"></div>
                        </form>
                        <form class="position-relative" ng-if="ticketDetails[0].status=='Closed'">
                            <input id="search" name="search" type="text" placeholder="">
                            <div class="search-btn" id="search_submit" value="" ng-click="showHide()" ng-change="searchForTicketData(ticketSearch,'closed')"
                                ng-model="ticketSearch"></div>
                        </form>
                    </div>
                </div>
                <div class="border-top listed-openTickets openticket">
                    <div class="d-flex py-1 element-list cursor-point" ng-repeat="tickets in ticketDetails track by $index"
                        ng-click="openmodalOpen(tickets, $index);" ng-if="ticketDetails[0].status == 'Active'">
                        <div class="bullet" ng-if="!tickets.isRead  && tickets.status == 'Active'"></div>
                        <div class="d-block pl-4 cursor-point" ng-click="checkifRead()">
                            <div class="product-title text-truncate">{{tickets.product.productName}} -
                                {{tickets.ticketNumber}}</div>
                            <div class="date ">{{tickets.issueReported | date}}</div>
                        </div>
                    </div>

                    <div class="d-flex py-1 element-list cursor-point" ng-repeat="tickets in ticketDetails track by $index"
                        ng-if="ticketDetails[0].status == 'Closed'" ui-sref="closedTicketcreation({id:tickets._id})">
                        <div class="bullet" ng-if="!tickets.isRead && tickets.status == 'Active'"></div>
                        <div class="d-block pl-4 cursor-point" ng-click="checkifRead()">
                            <div class="product-title text-truncate">{{tickets.product.productName}} -
                                {{tickets.ticketNumber}}</div>
                            <div class="date ">{{tickets.issueReported | date}}</div>
                        </div>
                    </div>
                </div>
                <div class="text-right view mt-2" ng-if="ticketDetails.length==5 && ticketDetails[0].status=='Active'"
                    ui-sref='ticketopen-notification'>View All
                    <span class="pl-2 ">
                        <i class="fas fa-caret-right "></i>
                    </span>
                </div>
                <div class="text-right  view mt-2" ng-if="ticketDetails.length==5  && ticketDetails[0].status=='Closed'"
                    ui-sref='ticketclose-notification'>View All
                    <span class="pl-2 ">
                        <i class="fas fa-caret-right "></i>
                    </span>
                </div>
            </div>
            <reminders></reminders>
        </div>
        <div class="col col-md-9 " ng-init="modelNo=false ">
            <div class="background-blue border-rounded p-4">
                <div class="media">
                    <div class="img-div ">


                        <img src="{{ticketDetails1.product.productImages[0] | serverimage}} " class="img-fluid large-img ">
                        <!-- <div class="d-flex align-items-center justify-content-center small-img ">
                            <img src="img/ticketCreation/mobile.png " width="10 ">
                        </div> -->
                    </div>
                    <div class="media-body pl-4 text-white ">
                        <h5 class="mt-0 fontRobotoMedium font20 position-relative" ng-click="modelNo=! modelNo">
                            <div ng-if="ticketDetails1.ticketNumber">Support ID : {{ticketDetails1.ticketNumber}}
                            </div>
                            <div ng-if="!ticketDetails1.ticketNumber">Support ID: ---</div>
                            <div class="position-absolute clock" ng-if="ticketDetails1.ticketNumber">
                                <!-- <i class="far fa-clock"></i> -->
                                </i>{{ticketDetails1.createdAt | date}}
                            </div>
                            <div>
                                <span class="float-right orange-color cursor-point">
                                    <span ng-show="modelNo">
                                        <i class="fas fa-angle-up"></i>
                                    </span>
                                    <span ng-show="!modelNo">
                                        <i class="fas fa-angle-down"></i>
                                    </span>
                                </span>
                            </div>
                        </h5>
                        <span class="fontRobotoBold font14 ">PRODUCT INFORMATION</span>
                        <p class="fontRobotoRegular font20 m-0">{{productDetails.productName}}
                            <span class="pl-2 fontRobotoLight "> ({{productDetails.brand}})</span>
                        </p>
                        <div class="row fontRobotoRegular font14 info-div mt-3" ng-show="modelNo ">
                            <div class="col col-md-6 ">
                                <p class="d-flex align-items-top ">
                                    <span class="d-inline-block w-40 ">Model Number : </span>
                                    <span class="d-inline-block w-60 ">{{productDetails.modelNo}}</span>
                                </p>
                                <p class="d-flex align-items-top ">
                                    <span class="d-inline-block w-40 ">Purchase Price : </span>
                                    <span class="d-inline-block w-60 "> {{productDetails.purchasePrice}}</span>
                                </p>
                                <p class="d-flex align-items-top ">
                                    <span class="d-inline-block w-40 ">Store : </span>
                                    <span class="d-inline-block w-60 ">{{productDetails.retailer}}</span>
                                </p>
                                <!-- <p class="d-flex align-items-top ">
                                    <span class="d-inline-block w-40 ">Attached Files : </span>
                                    <span class="d-inline-block w-60 ">
                                        <span class="d-inline-block img-uploaded "></span>
                                        <span class="d-inline-block img-uploaded "></span>
                                        <span class="d-inline-block img-uploaded "></span>
                                        <span class="d-inline-block img-uploaded "></span>
                                    </span>
                                </p> -->
                            </div>
                            <div class="col col-md-6 ">
                                <p class="d-flex align-items-top ">
                                    <span class="d-inline-block w-40 ">Serial Number : </span>
                                    <span class="d-inline-block w-60 ">{{productDetails.serialNo}}</span>
                                </p>
                                <p class="d-flex align-items-top ">
                                    <span class="d-inline-block w-40 ">Purchase Date : </span>
                                    <span class="d-inline-block w-60 "> {{productDetails.purchaseDate |date}}</span>
                                </p>
                                <p class="d-flex align-items-top ">
                                    <span class="d-inline-block w-40 ">Warranty : </span>
                                    <span class="d-inline-block w-60 green-color "> {{productDetails.warrantyExpDate
                                        |date}}
                                    </span>
                                </p>
                                <p class="d-flex align-items-top ">
                                    <span class="d-inline-block w-40 ">Relation : </span>
                                    <span class="d-inline-block w-60 " ng-repeat="relatives in productDetails.relatedUser">
                                        <span class="d-inline-block bg-white blue-color border-rounded px-2 mb-2 mr-2 ">{{relatives.relationType}}
                                            <!-- <i class="fas fa-times "></i> -->
                                        </span>
                                        <!-- <span class="d-inline-block bg-white blue-color border-rounded px-2 mb-2 mr-3 ">Mother
                                            <i class="fas fa-times "></i>
                                        </span> -->
                                        <!-- <button class="border-rounded background-orange border-0 text-white " ng-click="newUserModalOpen();">Add New User
                                            <i class="fas fa-plus "></i>
                                        </button> -->
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bg-white mt-2 p-4 border-rounded productreg">
                <!-- {{statusArray[1].statusDate}} -->
                <h6 class="fontRobotoLight d-inline font-mob">SUPPORT TIMELINE</h6>
                <h6 class="fontRobotoLight d-inline orange-color float-right font-mob" ng-if="ticketDetails1.status">SUPPORT
                    STATUS: {{ticketDetails1.status}}</h6>
                <h6 class="fontRobotoLight d-inline orange-color float-right font-mob" ng-if="!ticketDetails1.status">SUPPORT
                    STATUS: Ticket Not Generated</h6>
                <div class="my-5 support-timeline d-none d-lg-block">
                    <div class="circle circle1" data-before-content="{{ticketDetails1.createdAt|date:'dd/MM/yyyy'}}"></div>
                    <div class="circle circle{{$index+2}} {{subStatus.activeClass}}" ng-repeat="subStatus in statusArray track by $index"
                        data-before-content="{{subStatus.statusDate}}"></div>
                </div>
                <div class="position-relative d-lg-none card-head-padding">
                    <uib-accordion>
                        <div uib-accordion-group class="panel-default" is-open="status.open">
                            <uib-accordion-heading id="accordian-head" class="bg-white border-0">
                                <div class="accor-status"></div>
                                <span class="status" ng-if="!ticketDetails1.ticketNumber ">Status
                                </span>

                                <span class="status ticket-opened" ng-if="ticketDetails1.ticketNumber && ticketDetails1.substat.length==0">Ticket
                                    Opened
                                    <br>{{ticketDetails1.createdAt|date:'dd/MM/yyyy'}}
                                </span>
                                <span class="status other-status">{{ticketDetails1.substat[ticketDetails1.substat.length-1].status}}
                                    <br>{{ticketDetails1.substat[ticketDetails1.substat.length-1].statusDate|date:'dd/MM/yyyy'}}
                                </span>
                                <div class="accor-head font-color">
                                    View Timeline
                                    <i class="fas orange-color ml-2" ng-class="{'fa-chevron-right': status.open, 'fa-chevron-down': !status.open}"></i>
                                </div>
                            </uib-accordion-heading>
                            <div class="my-5 support-timeline">
                                <div class="circle circle1" data-before-content="{{ticketDetails1.createdAt|date:'dd/MM/yyyy'}}"></div>
                                <div class="circle circle{{$index+2}} {{subStatus.activeClass}}" ng-repeat="subStatus in statusArray track by $index"
                                    data-before-content="{{subStatus.statusDate}}"></div>
                            </div>
                        </div>
                    </uib-accordion>
                </div>
            </div>
            <form ng-submit="addComment(chatData)">
                <div class="bg-white mt-2 border-rounded productreg">
                    <div class="p-4">
                        <h6 class="pb-3 pt-2 fontRobotoBold blue-color space-letter support-chat ">SUPPORT CHAT</h6>
                        <div class="chat my-2">
                            <div ng-repeat="chat in ticketDetails1.customerChat">
                                <div class="d-flex align-items-center mb-2 you" ng-if="chat.user!=jstrgValue._id">
                                    <div class="img-fluid image ">
                                        <img src="img/ticketCreation/profile.jpeg">
                                    </div>
                                    <div class="ml-2 px-3 py-1 chat-content " ng-if="chat.comment">{{chat.comment}}</div>
                                    <div ng-if="chat.file">
                                        <span ng-if="chat.file.slice(chat.file.length-3,chat.file.length)=='pdf'">
                                            <a ng-href="{{chat.file|serverimage}}" target="blank">
                                                <i class="fas fa-file-download" style="font-size: 40px"></i>
                                            </a>
                                        </span>
                                        <span ng-if="chat.file.slice(chat.file.length-3,chat.file.length)!='pdf'">
                                            <a ng-href="{{chat.file|serverimage}}" target="blank">
                                                <img class="img-thumbnail w-25 float-right" ng-src="{{chat.file | serverimage}}"
                                                    alt="">
                                            </a>
                                        </span>
                                    </div>
                                    <div class="mr-2 px-3 py-1 chat-content " ng-if="chat.pickUpDetails">Contact
                                        Person:{{chat.pickUpDetails.contactPerson}}
                                        <br>Contact Number:{{chat.pickUpDetails.contactNumber}}
                                        <br> Address:{{chat.pickUpDetails.pickUpAddress}}
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-2 flex-row-reverse me" ng-if="chat.user==jstrgValue._id">
                                    <div class="img-fluid image">
                                        <!-- <img src="img/ticketCreation/profile.jpeg "> -->
                                        <img src="{{ticketDetails1.product.user.profilePic |serverimage}}">
                                    </div>
                                    <div class="mr-2 px-3 py-1 chat-content" ng-if="chat.comment">{{chat.comment}}</div>
                                    <div ng-if="chat.file">
                                        <span ng-if="chat.file.slice(chat.file.length-3,chat.file.length)=='pdf'">
                                            <a ng-href="{{chat.file|serverimage}}" target="blank">
                                                <i class="fas fa-file-download" style="font-size: 40px"></i>
                                            </a>
                                        </span>
                                        <span ng-if="chat.file.slice(chat.file.length-3,chat.file.length)!='pdf'">
                                            <a ng-href="{{chat.file|serverimage}}" target="blank">
                                                <img class="img-thumbnail w-25 float-right" ng-src="{{chat.file | serverimage}}"
                                                    alt="">
                                            </a>
                                        </span>
                                    </div>
                                    <div class="mr-2 px-3 py-1 chat-content " ng-if="chat.pickUpDetails">Contact
                                        Person:{{chat.pickUpDetails.contactPerson}}
                                        <br>Contact Number:{{chat.pickUpDetails.contactNumber}}
                                        <br> Address:{{chat.pickUpDetails.pickUpAddress}}
                                    </div>
                                </div>
                                <div class="text-center gray-color font14 mt-3 ">{{chat.date | date}}</div>
                            </div>
                        </div>
                        <div class="message-send-input">
                            <div class="send">
                                <img src="img/ticketCreation/submit.png " ng-click="addComment(chatData)">
                            </div>
                            <div class="scrollbar-tcreation">
                                <upload-image ng-model="chatData.image" image-src="../img/ticketCreation/attachment.png"
                                    image-class="attachment" no-view hide-status="{{sentValue}}"></upload-image>
                            </div>
                            <!-- <div class="attachment">
                                <img class=" " src="img/ticketCreation/attachment.png ">
                                <input type="file" name="pic" accept="" class="custom-file">
                            </div> -->
                            <form ng-submit="addComment(chatData)">
                                <input ng-if="!ticketDetails1.feedbackStatus" type="text" class="form-control message mt-5"
                                    placeholder="Type your message ... " ng-model="chatData.comment" required>
                                <br>
                                <div ng-if="ticketDetails1.feedbackStatus">
                                    <h6 class="fontRobotoBold blue-color ">FEEDBACK</h6>
                                    <br>
                                    <div class="font14 font-color my-2 ">Describe your experience with us</div>
                                    <textarea rows="5 " name="feedback " class="form-control" ng-model="chatData.comment"
                                        required></textarea>
                                    <button class="mt-3 send-btn ">
                                        <span class="close-icon submit-button">
                                            <i class="fas fa-times "></i>
                                        </span>Send</button>
                                </div>

                            </form>
                        </div>
                        <!-- <br><br>
                        <h6 class="fontRobotoBold blue-color ">FEEDBACK</h6>
                        <br> -->
                        <!-- <div class="font14 font-color mb-2 ">How would you rate your experience on scale of 1
                                to 5 stars
                                based on the following parameters?</div>
                            <div class="d-flex font14 fontRobotoRegular font-color my-2 ">
                                <div class="mr-3">
                                    <span class="mr-2">Ease </span>
                                    <span class="rates" uib-rating ng-model="1" max="5" on-hover="hoveringOver(value)"
                                        titles="['one','two','three']" aria-labelledby="default-rating"></span>
                                </div>
                                <div class="mr-3">
                                    <span class="mr-2 ">Interaction </span>
                                    <span class="rates" uib-rating ng-model="3" max="5" on-hover="hoveringOver(value) "
                                        titles="[ 'one','two','three'] " aria-labelledby="default-rating"></span>
                                </div>
                                <div class="mr-3">
                                    <span class="mr-2 ">Resolution </span>
                                    <span class="rates" uib-rating ng-model="2" max="5" on-hover="hoveringOver(value) "
                                        titles="[ 'one','two','three'] " aria-labelledby="default-rating"></span>
                                </div>
                            </div> -->
                        <!-- <div class="font14 font-color my-2 ">Describe your experience with us</div>
                        <textarea rows="5 " name="feedback " class="form-control" ng-model="chatData.comment" required></textarea>
                        <button class="mt-3 send-btn ">
                            <span class="close-icon ">
                                <i class="fas fa-times "></i>
                            </span>Send</button> -->
                    </div>
                    <!-- <div class="text-center pb-4 border-dashed-bottom ">Ticket Closed on 15/2/2018</div> -->
                </div>
                <!-- <div class="my-4 chat-button " ng-controller="headerCtrl " ng-click="reminderModalOpen() ">
                    <button class="reminder-btn ">
                        <i class="fas fa-calendar-alt mr-3 "></i>ADD REMINDER</button>
                    <button class="float-right close-btn " ui-sref="productListing ">
                        <span class="close-icon ">
                            <i class="fas fa-times "></i>
                        </span>Close</button>
                </div> -->
            </form>
        </div>
    </div>
</div>