<div class="background-blue position-relative p-1 p-lg-3 pb-5 text-left text-lg-center fontRobotoRegular text-white">
    <h5 class="my-2 my-md-0">Product Registration</h5>
    <div class="my-5 timeline">
        <div class="circle circle1 " ng-click="activePage = 'circle1'" ng-class="{'timeline-active': activePage == 'circle1' || checkmark1}">
            <i class="fas fa-check check-icon" ng-if="activePage == 'circle2' && checkmark1"></i>
        </div>
        <div class="circle circle2" ng-click="activePage = 'circle2'" ng-class="{'timeline-active': activePage == 'circle2' || checkmark2}">
            <i class="fas fa-check check-icon" ng-if="activePage == 'circle3' && checkmark2"></i>
        </div>
        <div class="circle circle3" ng-click="activePage = 'circle3'" ng-class="{'timeline-active': activePage == 'circle3' || checkmark3}">
            <i class="fas fa-check check-icon" ng-if="activePage == 'circle4' && checkmark3"></i>
        </div>
        <div class="circle circle4" ng-click="activePage = 'circle4'" ng-class="{'timeline-active': activePage == 'circle4' || checkmark4}">
            <i class="fas fa-check check-icon" ng-if="activePage == 'circle5'"></i>
        </div>
    </div>
    <div class="d-flex social my-3 m-md-3 cancel mx-0 mx-md-5" ui-sref="productListingfcanf">
        <span class="social_icon">
            <i class="fas fa-times"></i>
        </span>
        <div class="social-text" ui-sref="openticket">Cancel</div>
    </div>
</div>

<div class="container my-1" ng-if="activePage=='circle1'">
    <form name="product">
        <div class="bg-white mx-0 mx-lg-3 p-4 border-rounded product-desc productreg">
            <h6 class="text-uppercase fontRobotoBold my-3">product details
                <!-- <span class="float-right info-icon">
                    <i class="fas fa-info-circle"></i>
                </span> -->
            </h6>
            <div class="row form-group">
                <div class="col-12 col-md-6">
                    <label class="mb-0">Product Name * </label>
                    <input ng-model="data.productName" class="form-control form-control-sm" type="text" name="productName"
                        placeholder="Product Name" required>
                    <span class="error" ng-show="product.productName.$invalid && product.productName.$touched"> Please,
                        enter product name</span>
                </div>
                <div class="col-12 col-md-6 brand-div">
                    <label class="mb-0">Brand Name * </label>
                    <input ng-model="data.brand" class="form-control form-control-sm" type="text" name="brandName"
                        placeholder="Enter Brand Name" required>
                    <!-- <ui-select name="brandSelect" ng-model="data.brand" theme="selectize" ng-disabled="ctrl.disabled"
                        title="Choose a brand" ng-required="true">
                        <ui-select-match class="selected-tags" placeholder="Select a brand from the list...">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices class="background-blue text-white" repeat="brand in brandsData | filter: $select.search">
                            <span ng-bind-html="brand.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select> -->
                    <!-- <input ng-model="data.brand" class="form-control form-control-sm" type="text" name="brandSelect" placeholder="Brand Name" required> -->
                    <span class="error" ng-show="product.brandSelect.$invalid && product.brandSelect.$touched"> Please,
                        enter brand name</span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12 col-md-6">
                    <label class="mb-0">Serial Number * </label>
                    <input ng-model="data.serialNo" class="form-control form-control-sm" type="text" name="srno"
                        placeholder="Serial Number" required>
                    <span class="error" ng-show="product.srno.$invalid && product.srno.$touched"> Please, enter serial
                        number</span>
                </div>
                <div class="col-12 col-md-6">
                    <label class="mb-0">Model Number * </label>
                    <input ng-model="data.modelNo" class="form-control form-control-sm" type="text" name="modelno"
                        placeholder="Model Number" required>
                    <span class="error" ng-show="product.modelno.$invalid && product.modelno.$touched"> Please, enter
                        model number</span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12">
                    <label class="mb-0">Product Picture</label>
                    <span> (only jpg, jpeg, png, doc or pdf file allowed and maximum size is 5Mb)</span> <span class="green-color"
                        ng-if="data.productImages">({{data.productImages.length}})</span>
                    <br>
                    <div class="scrollbar">
                        <upload-image multiple ng-model="data.productImages" no-status="true"></upload-image>
                    </div>
                </div>
            </div>
        </div>
        <fieldset class="d-flex social mx-auto m-md-3 my-3 save ml-auto" role="button" ng-click="saveProduct(data)"
            ng-disabled="product.$invalid">
            <span class="social_icon">
                <i class="fas fa-save"></i>
            </span>
            <div class="social-text">Save and Continue</div>
        </fieldset>
    </form>
</div>

<div class="container my-1" ng-if="activePage=='circle2'">
    <form name="purchase">
        <div class="bg-white mx-0 mx-lg-3 p-4 p-4 border-rounded product-desc productreg">
            <h6 class="text-uppercase fontRobotoBold my-3">PURCHASE DETAILS
            </h6>
            <div class="row form-group">
                <div class="col-12 col-md-6">
                    <label class="mb-0">Purchase Date * </label>
                    <input ng-model="data.purchaseDate" name="date" class="form-control form-control-sm" type="date"
                        required>
                    <span class="error" ng-show="purchase.date.$invalid && purchase.date.$touched"> Please, enter
                        purchase date</span>
                </div>
                <div class="col-12 col-md-6">
                    <label class="mb-0">Purchase Price * </label>
                    <input ng-model="data.purchasePrice" name="price" class="form-control form-control-sm" type="text"
                        required only-digits>
                    <span class="error" ng-show="purchase.price.$invalid && purchase.price.$touched"> Please, enter
                        purchase price</span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12 col-md-6">
                    <label class="mb-0">Retailer * </label>
                    <input ng-model="data.retailer" name="retailer" class="form-control form-control-sm" type="text"
                        required>
                    <span class="error" ng-show="purchase.retailer.$invalid && purchase.retailer.$touched"> Please,
                        enter retailer</span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12">
                    <label class="mb-0">Proof of Purchase</label>
                    <span> (only jpg, jpeg, png, doc or pdf file allowed and maximum size is 5Mb)</span> <span class="green-color"
                        ng-if="data.purchaseProof">({{data.purchaseProof.length}})</span>
                    <br>
                    <div class="scrollbar">
                        <upload-image multiple ng-model="data.purchaseProof" no-status="true"></upload-image>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white mx-0 mx-lg-3 mt-1 p-4 border-rounded product-desc productreg">
            <h6 class="text-uppercase fontRobotoBold">PURCHASE FOR
            </h6>
            <div class="row form-group" ng-init="data ={}">
                <div class="col-12 col-md-6">
                    <label class="mb-0">Search for existing user * </label>
                    <ui-select multiple tagging tagging-label="(custom 'new' label)" ng-model="data.Users" theme="bootstrap"
                        sortable="true" ng-disabled="ctrl.disabled" title="Choose a color" ng-required="true">
                        <ui-select-match class="selected-tags" placeholder="Select users">
                            <span ng-if="$item.user.name"> {{$item.user.name}}</span>
                            <span ng-if="!$item.user.name"> {{$item}}</span>
                        </ui-select-match>
                        <ui-select-choices repeat="users in userDataForRegist.relations | filter:$select.search">
                            {{users.user.name}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="d-flex main-users">
                <div class="d-flex align-items-center existing-user p-2 mb-3 mr-3" ng-repeat="user in addeduser">
                    <div class="user-circle"></div>
                    <div class="mx-2 fontRobotoRegular name-rel">
                        <div>{{user.name}}</div>
                        <span class="fontRobotoLight">{{user.relation}}</span>
                    </div>
                    <div ng-click="removedUser(user,$index)" class="fontRobotoLight">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
    </form>
    <form name="adduser">
        <h6 class="text-uppercase fontRobotoBold pt-3 border-dashed">ADD NEW USER</h6>
        <div class="row form-group">
            <div class="col-12 col-md-6">
                <label class="mb-0">Name * </label>
                <input ng-model="userData.name" name="username" class="form-control form-control-sm" type="text"
                    only-letters-input required>
                <span class="error" ng-show="adduser.username.$invalid && adduser.username.$touched"> Please, enter
                    name</span>
            </div>
            <div class="col-12 col-md-6">
                <label class="mb-0">Email * </label>
                <input name="useremail" ng-model="userData.email" class="form-control form-control-sm" type="email"
                    required>
                <span class="error" ng-show="adduser.useremail.$invalid && adduser.useremail.$touched"> Please, enter
                    email</span>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-12 col-md-6">
                <label class="mb-0">Mobile Number * </label>
                <input name="mobile" ng-model="userData.mobile" class="form-control form-control-sm" type="text"
                    maxlength="10" required only-digits>
                <span class="error" ng-show="adduser.mobile.$invalid && adduser.mobile.$touched"> Please, enter contact</span>
            </div>
            <div class="col-12 col-md-6">
                <label class="mb-0">NickName</label>
                <input name="nickname" ng-model="userData.nickName" class="form-control form-control-sm" type="text">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-12 col-md-6">
                <label class="mb-0">Relationship * </label>
                <select class="form-control" id="sel1" name="sellist1" ng-model="userData.relation" required>
                    <option ng-repeat="relations in relationsForUser">{{relations}}</option>
                </select>
                <span class="error" ng-show="adduser.sellist1.$invalid && adduser.sellist1.$touched"> Please, select
                    relationship</span>
            </div>
        </div>
        <fieldset class="row form-group" ng-click="addUser()" ng-disabled="adduser.$invalid">
            <div class="d-flex social m-md-3 mx-auto my-3 add">
                <span class="social_icon">
                    <i class="fas fa-plus"></i>
                </span>
                <div class="social-text">Add User</div>
            </div>
        </fieldset>
    </form>
</div>
<fieldset class="d-flex social mx-auto m-md-3 my-3 save ml-auto" ng-click="savepurchaseDetails(data)" ng-disabled="!(data.purchaseDate && data.purchasePrice && data.retailer )">
    <span class="social_icon">
        <i class="fas fa-save"></i>
        </i>
    </span>
    <div class="social-text">Save and Continue</div>
</fieldset>
</div>

<div class="container my-1" ng-if="activePage=='circle3'">
    <form name="Warranty">
        <div class="bg-white mx-0 mx-lg-3 p-4 border-rounded product-desc productreg">
            <h6 class="text-uppercase fontRobotoBold my-3">Warranty
                <span class="orange-color ml-1" ng-if="data.warrantyExpDate">
                    <i class="far fa-check-circle font16"></i>
                </span>
                <!-- <span class="float-right info-icon">
                    <i class="fas fa-info-circle"></i>
                </span> -->
            </h6>
            <div class="row form-group">
                <div class="col-12 col-md-6">
                    <label class="mb-0">Expiry Date * </label>
                    <input name="warrdate" ng-model="data.warrantyExpDate" class="form-control form-control-sm" type="date"
                        required>
                    <span class="error" ng-show="Warranty.warrdate.$invalid && Warranty.warrdate.$touched"> Please,
                        select warranty expiry date</span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12">
                    <label class="mb-0">Warranty Card</label>
                    <span> (only jpg, jpeg, png, doc or pdf file allowed and maximum size is 5Mb)</span> <span class="green-color"
                        ng-if="data.warrantyCardImage">({{data.warrantyCardImage.length}})</span>
                    <br>
                    <div class="scrollbar">
                        <upload-image multiple ng-model="data.warrantyCardImage" no-status="true"></upload-image>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white mx-0 mx-lg-3 mt-1 p-4 border-rounded product-desc productreg">
            <h6 class="text-uppercase fontRobotoBold">Insurance
                <span class="orange-color ml-1" ng-if="data.insuranceExpDate">
                    <i class="far fa-check-circle fa-lg"></i>
                </span>
                <!-- <span class="float-right info-icon">
                    <i class="fas fa-info-circle"></i>
                </span> -->
            </h6>
            <div class="row form-group">
                <div class="col-12 col-md-6">
                    <label class="mb-0">Expiry Date</label>
                    <input name="expdate" ng-model="data.insuranceExpDate" class="form-control form-control-sm" type="date">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12">
                    <label class="mb-0">Insurance document</label>
                    <span> (only jpg, jpeg, png, doc or pdf file allowed and maximum size is 5Mb)</span> <span class="green-color"
                        ng-if="data.insuranceProofImage">({{data.insuranceProofImage.length}})</span>
                    <br>
                    <div class="scrollbar">
                        <div>
                            <upload-image multiple ng-model="data.insuranceProofImage" no-status="true"></upload-image>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <fieldset class="d-flex social mx-auto m-md-3 my-3 save ml-auto" ng-click="goToNxtTab(data)" ng-disabled="Warranty.$invalid">
            <span class="social_icon">
                <i class="fas fa-save"></i>
            </span>
            <div class="social-text">Save and Continue</div>
        </fieldset>
    </form>
</div>

<div class="container my-1 accessories" ng-if="activePage=='circle4'">
    <div class="bg-white mx-0 mx-lg-3 p-4 border-rounded product-desc productreg">
        <h6 class="text-uppercase fontRobotoBold my-3">ACCESSORIES
            <span class="float-right info-icon">
                <i class="fas fa-info-circle"></i>
            </span>
        </h6>
        <div class="row form-group">
            <div class="col-12 col-md-6">
                <label class="mb-3">Accessories</label>
                <form ng-submit="addAccessories(formData)">
                    <input class="form-control form-control-sm" ng-model="formData.accessories" type="text" placeholder="Type Accessories and Press Enter to Add">
                </form>
            </div>
        </div>
        <div class="d-flex main-users">
            <div class="d-flex align-items-center existing-user p-2 mb-3 mr-3" ng-repeat="accessories in accessoriesMain track by $index">
                <div class="user-circle"></div>
                <div class="mx-2 fontRobotoRegular name-rel">
                    <div>{{accessories}}</div>
                    <!-- <span class="fontRobotoLight">{{accessories.relation}}</span> -->
                </div>
                <div class="ml-auto fontRobotoLight" ng-click="remove($index)">
                    <i class="fas fa-times cursor-point"></i>
                </div>
            </div>
        </div>
    </div>

    <fieldset class="d-flex social mx-auto m-md-3 my-3 save ml-auto" ng-click="addProduct()">
        <span class="social_icon">
            <i class="fas fa-save"></i>
        </span>
        <div class="social-text">Add Product</div>
    </fieldset>
</div>