<div class="background-blue position-relative p-3 pb-5 text-center fontRobotoRegular text-white">
    <h5>Product Registration</h5>
    <div class="my-5 timeline">
        <div class="circle circle1 timeline-active" ng-click="makeActive('circle1')"></div>
        <div class="circle circle2" ng-click="makeActive('circle2')"></div>
        <div class="circle circle3" ng-click="makeActive('circle3')"></div>
        <div class="circle circle4" ng-click="makeActive('circle4')"></div>
    </div>
    <div class="d-flex social m-3 cancel mx-5">
        <span class="social_icon"><i class="fas fa-times"></i></span>
        <div class="social-text">Cancel</div>
    </div>
</div>

<div class="container my-1" ng-if="activePage=='circle1'">
    <div class="bg-white mx-3 p-4 border-rounded product-desc productreg">
        <h6 class="text-uppercase fontRobotoBold">product details<span class="float-right info-icon"><i class="fas fa-info-circle"></i></span></h6>
        <form>
            <div class="row form-group">
                <div class="col-12 col-md-6">
                    <label class="mb-0">Product Name</label>
                    <input class="form-control form-control-sm" type="text" placeholder="AUTO FILL">
                </div>
                <div class="col-12 col-md-6">
                    <label class="mb-0">Brand Name</label>
                    <input class="form-control form-control-sm" type="text" placeholder="AUTO FILL">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12 col-md-6">
                    <label class="mb-0">Serial Number</label>
                    <input class="form-control form-control-sm" type="text" placeholder="AUTO FILL">
                </div>
                <div class="col-12 col-md-6">
                    <label class="mb-0">Model Number</label>
                    <input class="form-control form-control-sm" type="text" placeholder="AUTO FILL">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12">
                    <label class="mb-0">Product Picture</label><span> (only jpg, jpeg, png, doc or pdf file allowed and maximum size is 5Mb)</span><br>
                    <div class="scrollbar">
                        <div class="upload-btn-wrapper mx-1">
                            <button class="btn">+</button>
                            <input type="file" name="myfile" />
                        </div>
                        <div class="upload-btn-wrapper mx-1">
                            <button class="btn">+</button>
                            <input type="file" name="myfile" />
                        </div>
                        <div class="upload-btn-wrapper mx-1">
                            <button class="btn">+</button>
                            <input type="file" name="myfile" />
                        </div>
                        <div class="upload-btn-wrapper mx-1">
                            <button class="btn">+</button>
                            <input type="file" name="myfile" />
                        </div>
                        <div class="upload-btn-wrapper mx-1">
                            <button class="btn">+</button>
                            <input type="file" name="myfile" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="d-flex social m-3 save">
        <span class="social_icon"><i class="fas fa-save"></i></i></span>
        <div class="social-text">Save and Continue</div>
    </div>
</div>

<div class="container my-1" ng-if="activePage=='circle2'">
    <div class="bg-white mx-3 p-4 border-rounded product-desc productreg">
        <h6 class="text-uppercase fontRobotoBold">PURCHASE DETAILS<span class="float-right info-icon"><i class="fas fa-info-circle"></i></span></h6>
        <form>
            <div class="row form-group">
                <div class="col-12 col-md-6">
                    <label class="mb-0">Purchase Date</label>
                    <input class="form-control form-control-sm" type="date">
                </div>
                <div class="col-12 col-md-6">
                    <label class="mb-0">Purchase Price</label>
                    <input class="form-control form-control-sm" type="text">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12 col-md-6">
                    <label class="mb-0">Retailer</label>
                    <input class="form-control form-control-sm" type="text">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12">
                    <label class="mb-0">Proof of Purchase</label><span> (only jpg, jpeg, png, doc or pdf file allowed and maximum size is 5Mb)</span><br>
                    <div class="scrollbar">
                        <div class="upload-btn-wrapper mx-1">
                            <button class="btn">+</button>
                            <input type="file" name="myfile" />
                        </div>
                        <div class="upload-btn-wrapper mx-1">
                            <button class="btn">+</button>
                            <input type="file" name="myfile" />
                        </div>
                        <div class="upload-btn-wrapper mx-1">
                            <button class="btn">+</button>
                            <input type="file" name="myfile" />
                        </div>
                        <div class="upload-btn-wrapper mx-1">
                            <button class="btn">+</button>
                            <input type="file" name="myfile" />
                        </div>
                        <div class="upload-btn-wrapper mx-1">
                            <button class="btn">+</button>
                            <input type="file" name="myfile" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="bg-white mx-3 mt-1 p-4 border-rounded product-desc productreg">
        <h6 class="text-uppercase fontRobotoBold">PURCHASE FOR<span class="float-right info-icon"><i class="fas fa-info-circle"></i></span></h6>
        <form>
            <div class="row form-group">
                <div class="col-12 col-md-6">
                    <label class="mb-0">Search for exsisting user</label>
                    <input class="form-control form-control-sm" type="text" placeholder="Type User Name to Add">
                </div>
            </div>
            <div class="d-flex main-users">
                <div class="d-flex align-items-center existing-user p-2 mb-3 mr-3" ng-repeat="user in addeduser">
                    <div class="user-circle"></div>
                    <div class="mx-2 fontRobotoRegular name-rel">
                        <div>{{user.name}}</div><span class="fontRobotoLight">{{user.relation}}</span></div>
                    <div class="fontRobotoLight"><i class="fas fa-times"></i></div>
                </div>
            </div>

            <h6 class="text-uppercase fontRobotoBold pt-3 border-dashed">ADD NEW USER</h6>
            <div class="row form-group">
                <div class="col-12 col-md-6">
                    <label class="mb-0">Name</label>
                    <div class=" d-flex">
                        <input class="form-control form-control-sm w-50 mr-2" type="text">
                        <input class="form-control form-control-sm w-50" type="text">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <label class="mb-0">Email</label>
                    <input class="form-control form-control-sm" type="email">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12 col-md-6">
                    <label class="mb-0">Mobile Number</label>
                    <input class="form-control form-control-sm" type="number">
                </div>
                <div class="col-12 col-md-6">
                    <label class="mb-0">NickName</label>
                    <input class="form-control form-control-sm" type="text">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12 col-md-6">
                    <label class="mb-0">Relationship</label>
                    <input class="form-control form-control-sm" type="text">
                </div>
            </div>
            <div class="row form-group">
                <div class="d-flex social m-3 add">
                    <span class="social_icon"><i class="fas fa-plus"></i></span>
                    <div class="social-text">Add User</div>
                </div>
            </div>
        </form>
    </div>
    <div class="d-flex social m-3 save">
        <span class="social_icon"><i class="fas fa-save"></i></i></span>
        <div class="social-text">Save and Continue</div>
    </div>
</div>

<div class="container my-1" ng-if="activePage=='circle3'">
    <div class="bg-white mx-3 p-4 border-rounded product-desc productreg">
        <h6 class="text-uppercase fontRobotoBold">Warranty<span class="orange-color ml-5"><i class="far fa-check-circle fa-lg"></i></span><span class="float-right info-icon"><i class="fas fa-info-circle"></i></span></h6>
        <form>
            <div class="row form-group">
                <div class="col-12 col-md-6">
                    <label class="mb-0">Period</label>
                    <div class="d-flex">
                        <input class="form-control form-control-sm w-50 mr-2" type="text">
                        <input class="form-control form-control-sm w-50" type="text">
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12 col-md-6">
                    <label class="mb-0">Expiry Date</label>
                    <input class="form-control form-control-sm" type="date">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12">
                    <label class="mb-0">Warranty Card</label><span> (only jpg, jpeg, png, doc or pdf file allowed and maximum size is 5Mb)</span><br>
                    <div class="scrollbar">
                        <div class="upload-btn-wrapper mx-1">
                            <button class="btn">+</button>
                            <input type="file" name="myfile" />
                        </div>
                        <div class="d-flex social m-3 remainder">
                            <span class="social_icon"><i class="fas fa-plus"></i></span>
                            <div class="social-text">Add Remainder</div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="bg-white mx-3 mt-1 p-4 border-rounded product-desc productreg">
        <h6 class="text-uppercase fontRobotoBold">Insurance<span class="ml-5"><i class="far fa-check-circle fa-lg"></i></span><span class="float-right info-icon"><i class="fas fa-info-circle"></i></span></h6>
        <form>
            <div class="row form-group">
                <div class="col-12 col-md-6">
                    <label class="mb-0">Period</label>
                    <div class="d-flex">
                        <input class="form-control form-control-sm w-50 mr-2" type="text">
                        <input class="form-control form-control-sm w-50" type="text">
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12 col-md-6">
                    <label class="mb-0">Expiry Date</label>
                    <input class="form-control form-control-sm" type="date">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12">
                    <label class="mb-0">Insurance document</label><span> (only jpg, jpeg, png, doc or pdf file allowed and maximum size is 5Mb)</span><br>
                    <div class="scrollbar">
                        <div class="upload-btn-wrapper mx-1">
                            <button class="btn">+</button>
                            <input type="file" name="myfile" />
                        </div>
                        <div class="d-flex social m-3 remainder">
                            <span class="social_icon"><i class="fas fa-plus"></i></span>
                            <div class="social-text">Add Remainder</div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="d-flex social m-3 save">
        <span class="social_icon"><i class="fas fa-save"></i></i></span>
        <div class="social-text">Save and Continue</div>
    </div>
</div>

<div class="container my-1" ng-if="activePage=='circle4'">
    <div class="bg-white mx-3 p-4 border-rounded product-desc productreg">
        <h6 class="text-uppercase fontRobotoBold">ACCESSORIES<span class="float-right info-icon"><i class="fas fa-info-circle"></i></span></h6>
        <form>
            <div class="row form-group">
                <div class="col-12 col-md-6">
                    <label class="mb-0">Search Accessories</label>
                    <input class="form-control form-control-sm" type="text" placeholder="Type User Name to Add">
                </div>
            </div>
            <div class="d-flex main-users">
                <div class="d-flex align-items-center existing-user p-2 mb-3 mr-3" ng-repeat="accessories in accessoriesMain">
                    <div class="user-circle"></div>
                    <div class="mx-2 fontRobotoRegular name-rel">
                        <div>{{accessories.name}}</div><span class="fontRobotoLight">{{accessories.relation}}</span></div>
                    <div class="fontRobotoLight"><i class="fas fa-times"></i></div>
                </div>
            </div>
        </form>
    </div>
    <div class="d-flex social m-3 save">
        <span class="social_icon"><i class="fas fa-save"></i></i></span>
        <div class="social-text">Add Product</div>
    </div>
</div>