<div>
    <h6 class="text-center">Product Registration</h6>
    <div>
        <uib-tabset active="activeJustified" justified="true">
            <uib-tab index="0" heading="PRODUCT DETAIL">

            </uib-tab>
            <uib-tab index="1" heading="PURCHASE DETAIL">Short Labeled Justified content</uib-tab>
            <uib-tab index="2" heading="PROTECTION DETAIL">Long Labeled Justified content</uib-tab>
            <uib-tab index="3" heading="ACCESSORIES">Long Labeled Justified content</uib-tab>
        </uib-tabset>
    </div>
</div>