<div class="container">
        <div class="product-registration-detail">
            <div class="my-3 back"><img src="img/registeredProduct/back-icon.png"><span class="ml-2 font14">BACK TO HOME</span></div>
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="d-flex bg-white border-rounded">
                        <div class="w-15 border-right more-images">
                            <div class="p-2"><img src="img/registeredProduct/headset.jpg" class="img-fluid"></div>
                            <div class="p-2"><img src="img/registeredProduct/headset.jpg" class="img-fluid"></div>
                            <div class="p-2"><img src="img/registeredProduct/headset.jpg" class="img-fluid"></div>
                            <div class="p-2"><img src="img/registeredProduct/headset.jpg" class="img-fluid"></div>
                            <div class="p-2"><img src="img/registeredProduct/headset.jpg" class="img-fluid"></div>
                            <div class="p-2"><img src="img/registeredProduct/headset.jpg" class="img-fluid"></div>
                        </div>
                        <div class="w-85 p-3 float-right position-relative"><img src="img/registeredProduct/headset.jpg" class="img-fluid">
                            <div class="position-absolute favourite"><i class="fas fa-heart"></i></div>
                        </div>
                    </div>
                    <div class="d-flex my-3">
                        <a role="button" class="button green-btn py-1 mr-1 w-50 text-center">Add Product</a>
                        <a role="button" class="button orange-btn py-1 w-50 text-center">Support</a>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="bg-white p-4 border-rounded fontRobotoRegular font-color">
                        <h6 class="mb-2 fontRobotoBold blue-color">PRODUCT INFORMATION</h6>
                        <div class="my-2">Bose Quietcomfort 35 II Wired Headset with Mic (Silver, Over the Ear)</div>
                        <div class="my-2 font20">₹29,363</div>
                        <div class="d-flex my-3 colors-available">
                            <div>Colors avilable</div>
                            <div class="ml-2 mx-1 color"></div>
                            <div class="mx-1 color"></div>
                        </div>
                        <div class="my-3">Product Description</div>
                        <div class="font12">Pop, classical or alternative rock - no matter what your favourite genre of music is, with the Bose Quietcomfort 35 II, you can take your music listening experience to the next level as it allows you to adjust the level of noise cancellation depending on where you are and how noisy the environment is.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>