<div class="container">
    <div class="product-registration-detail">
        <div ui-sref="home" class="my-3 back">
            <img src="img/registeredProduct/back-icon.png">
            <span class="ml-2 font14">BACK TO HOME</span>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="d-flex bg-white border-rounded">
                    <div class="w-15 border-right more-images">
                        <div class="p-2">
                            <img src="img/registeredProduct/headset.jpg" class="img-fluid">
                        </div>
                        <div class="p-2">
                            <img src="img/registeredProduct/headset.jpg" class="img-fluid">
                        </div>
                        <div class="p-2">
                            <img src="img/registeredProduct/headset.jpg" class="img-fluid">
                        </div>
                        <div class="p-2">
                            <img src="img/registeredProduct/headset.jpg" class="img-fluid">
                        </div>
                        <div class="p-2">
                            <img src="img/registeredProduct/headset.jpg" class="img-fluid">
                        </div>
                        <div class="p-2">
                            <img src="img/registeredProduct/headset.jpg" class="img-fluid">
                        </div>
                    </div>
                    <div class="w-85 p-3 float-right position-relative">
                        <img src="img/registeredProduct/headset.jpg" class="img-fluid">
                        <div class="position-absolute favourite">
                            <i class="fas fa-heart"></i>
                        </div>
                    </div>
                </div>
                <div class="d-flex my-3">
                    <a role="button" class="button added-btn py-1 mr-1 w-50 text-center">Product Added</a>
                    <a role="button" ui-sref="ticketcreation" class="button orange-btn py-1 w-50 text-center">Support</a>
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="bg-white p-4 border-rounded fontRobotoRegular font14">
                    <h6 class="fontRobotoBold blue-color mb-2">PRODUCT INFORMATION
                        <span class="float-right info-icon" ng-click="personalInfo=!personalInfo;">
                            {{personalInfo}}
                            <i class="fas fa-pencil-alt fa-xs"></i>
                        </span>
                    </h6>
                    <div class="row">
                        <div class="col-3 fontRobotoMedium dark-font-color">
                            <div class="my-2 height-label">Product Name</div>
                            <div class="my-2 height-label">Brand Name</div>
                            <div class="my-2 height-label">Serial Number</div>
                            <div class="my-2 height-label">Purchase Date</div>
                            <div class="my-2 height-label">Purchase Price</div>
                            <div class="my-2 height-label">Retailer</div>
                        </div>
                        <div class="col-9 fontRobotoRegular font-color text-capitalize">
                            <div class="my-2 height-label">
                                <div class="custom-input">
                                    <input type="text" id="productName" name="" ng-model="productDetails.productName" ng-readonly="!personalInfo">
                                </div>
                            </div>
                            <div class="my-2 height-label" ng-init="data ={}   ">
                                <div class="custom-input" ng-if="productDetails.brand.name">
                                    <input type="text" id="brandName" name=" " ng-model="productDetails.brand.name" ng-readonly="!personalInfo">
                                </div>
                                <ui-select class="w-100" ng-model="data.brand" theme="selectize" ng-disabled="ctrl.disabled" title="Choose a brand" ng-if="!productDetails.brand.name">
                                    <ui-select-match placeholder="Select or search a brand in the list...">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices class="background-blue text-white" repeat="brand in brandsData | filter: $select.search">
                                        <span ng-bind-html="brand.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="my-2 height-label">
                                <div class="custom-input ">
                                    <input type="text" id="serialNumber" name=" " ng-model="productDetails.serialNo" ng-readonly="!personalInfo">
                                </div>
                            </div>
                            <div class="my-2 height-label">
                                <div class="custom-input ">
                                    <input type="date" id="purchaseDate" name="" ng-model="productDetails.purchaseDate" ng-readonly="!personalInfo">
                                </div>
                            </div>
                            <div class="my-2 height-label">
                                <div class="custom-input ">
                                    <input type="text" id="purchasePrice" name=" " ng-model="productDetails.purchasePrice" ng-readonly="!personalInfo">
                                </div>
                            </div>
                            <div class="my-2 height-label">
                                <div class="custom-input " ng-if="productDetails.retailer.name">
                                    <input type="text" id="Retailer" name=" " ng-model="productDetails.retailer.name">
                                </div>
                                <ui-select ng-if="!productDetails.retailer.name" ng-model="data.retailer" theme="selectize" ng-disabled="ctrl.disabled" title="Choose a country">
                                    <ui-select-match placeholder="Select or search a retailer in the list...">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices class="background-blue text-white" repeat="retailer in retaillersData | filter: $select.search">
                                        <span ng-bind-html="retailer.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                    <h6 class="fontRobotoBold blue-color my-3 ">PRODUCT USERS</h6>
                    <div ng-if="personalInfo">
                        <div class="row form-group">
                            <div class="col-12 col-md-6">
                                <label class="mb-0">Search for exsisting user</label>
                                <ui-select multiple tagging tagging-label="(custom 'new' label)" ng-model="data.Users" theme="bootstrap" sortable="true"
                                    ng-disabled="ctrl.disabled" style="width: 300px;" title="Choose a color">
                                    <ui-select-match placeholder="Select colors...">
                                        <span ng-if="$item.user.name"> {{$item.user.name}}</span>
                                        <span ng-if="!$item.user.name"> {{$item}}</span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="users in productDetails.relatedUser | filter:$select.search">
                                        {{users.user.name}}
                                    </ui-select-choices>
                                </ui-select>
                                <!-- <input class="form-control form-control-sm" type="text" placeholder="Type User Name to Add" required> -->
                            </div>
                        </div>
                        <h6 class="text-uppercase fontRobotoBold pt-3 border-dashed">ADD NEW USER</h6>
                        <div class="row form-group">
                            <div class="col-12 col-md-6">
                                <label class="mb-0">Name</label>
                                <div class=" d-flex">
                                    <input ng-model="userData.name" class="form-control form-control-sm" type="text" required>
                                    <!-- <input ng-model="userData.lastname" class="form-control form-control-sm w-50" type="text" required> -->
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="mb-0">Email</label>
                                <input ng-model="userData.email" class="form-control form-control-sm" type="email" required>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-12 col-md-6">
                                <label class="mb-0">Mobile Number</label>
                                <input ng-model="userData.mobile" class="form-control form-control-sm" type="text" required>
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="mb-0">NickName</label>
                                <input ng-model="userData.nickName" class="form-control form-control-sm" type="text" required>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-12 col-md-6">
                                <label class="mb-0">Relationship</label>
                                <input ng-model="userData.relation" class="form-control form-control-sm" type="text" required>
                            </div>
                        </div>
                        <div class="row form-group" ng-click="addUser(userData)">
                            <div class="d-flex social m-3 add">
                                <span class="social_icon">
                                    <i class="fas fa-plus"></i>
                                </span>
                                <div class="social-text">Add User</div>
                            </div>
                        </div>
                        <fieldset class="d-flex social m-3 save mx-auto">
                            <span class="social_icon">
                                <i class="fas fa-save"></i>
                            </span>
                            <div class="social-text" ng-click="updateData(productDetails,data)">Save</div>
                        </fieldset>
                    </div>
                    <div class="d-flex main-users" ng-if="!personalInfo">
                        <div class="d-flex align-items-center existing-user p-2 mr-3" ng-repeat="rel in productDetails.relatedUser ">
                            <div class="mx-2 fontRobotoRegular name-rel">
                                <div>{{rel.user.name}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-white p-4 my-2 border-rounded position-relative reg-product-det">
                    <h6 class="fontRobotoBold blue-color ">WARRANTY
                        <span class="float-right info-icon " ng-click="warranty=!warranty;">
                            <i class="fas fa-pencil-alt fa-xs "></i>
                        </span>
                    </h6>
                    <div>
                        <span class="fontRobotoRegular font14 dark-font-color ">Warranty expiration date</span>
                        <div class="custom-input font12 ml-5 d-inline-block fontRobotoLight ">
                            <input type="date" id="warrantyExpDate" name="" ng-model="productDetails.warrantyExpDate" readonly="readonly " ng-readonly="!warranty ">
                        </div>
                    </div>
                    <div class="scrollbar d-flex">
                        <div class="" id="scrollbar" ng-if="warranty">
                            <div class="mt-2">
                                <upload-image multiple ng-model="productDetails.warrantyCardImage"></upload-image>
                            </div>
                        </div>
                        <div class="d-flex mt-2" ng-if="!warranty">
                            <div class="rounded mr-1 image-style" ng-repeat="warrantyImages in productDetails.warrantyCardImage">
                                <img class="img-thumbnail" ng-src="{{warrantyImages | serverimage}}" alt="">
                            </div>
                        </div>
                    </div>
                    <fieldset class="d-flex social mt-3 mb-0 save mx-auto" ng-if="warranty">
                        <span class="social_icon">
                            <i class="fas fa-save"></i>
                        </span>
                        <div class="social-text" ng-click="updateData(productDetails)">Save</div>
                    </fieldset>
                </div>
                <div class="bg-white p-4 my-2 border-rounded position-relative reg-product-det ">
                    <h6 class="fontRobotoBold blue-color ">INSURANCE
                        <span class="ml-2 ">
                            <img src="img/ticketCreation/warranty.png ">
                        </span>
                        <span class="float-right info-icon " ng-click="insurance=!insurance ">
                            <i class="fas fa-pencil-alt fa-xs "></i>
                        </span>
                    </h6>
                    <div>
                        <span class="fontRobotoRegular font14 dark-font-color ">Insurance expiration date</span>
                        <div class="custom-input font12 ml-5 d-inline-block fontRobotoLight ">
                            <input type="date" id="insuranceExpDate" name="" ng-model="productDetails.insuranceExpDate" ng-readonly="!insurance">
                        </div>
                    </div>
                    <div class="scrollbar d-flex">
                        <div class="" id="scrollbar" ng-if="insurance">
                            <div class="mt-2">
                                <upload-image multiple ng-model="productDetails.insuranceProofImage"></upload-image>
                            </div>
                        </div>
                        <div class="d-flex mt-2" ng-if="!insurance">
                            <div class="rounded mr-1 image-style" ng-repeat="insuranceImages in productDetails.insuranceProofImage">
                                <img class="img-thumbnail" ng-src="{{insuranceImages | serverimage}}" alt="">
                            </div>
                        </div>
                    </div>
                    <fieldset class="d-flex social mt-3 mb-0 save mx-auto" ng-if="insurance">
                        <span class="social_icon">
                            <i class="fas fa-save"></i>
                        </span>
                        <div class="social-text" ng-click="updateData(productDetails)">Save</div>
                    </fieldset>
                </div>
                <div class="bg-white p-4 my-2 border-rounded position-relative reg-product-det">
                    <h6 class="fontRobotoBold blue-color ">ACCESSORIES
                        <span class="float-right info-icon " ng-click="accessories=!accessories">
                            <i class="fas fa-pencil-alt fa-xs "></i>
                        </span>
                    </h6>
                    <div class="row form-group" ng-if="accessories">
                        <div class="col-12 col-md-6">
                            <form ng-submit="addAccessories(formData)">
                                <input class="form-control form-control-sm" ng-model="formData.accessories" type="text" placeholder="Type Accessories to Add"
                                    required>
                            </form>
                        </div>
                    </div>
                    <div class="d-flex main-users" ng-if="accessories">
                        <div class="d-flex align-items-center existing-user p-2 mb-1 mr-2" ng-repeat="accessories in accessoriesMain track by $index">
                            <div class="user-circle"></div>
                            <div class="mx-2 fontRobotoRegular name-rel">
                                <div>{{accessories}}</div>
                                <!-- <span class="fontRobotoLight">{{accessories.relation}}</span> -->
                            </div>
                            <div class="ml-auto fontRobotoLight" ng-click="remove($index)">
                                <i class="fas fa-times cursor-point"></i>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex main-users" ng-if="!accessories">
                        <div class="d-flex align-items-center existing-user p-2 mb-1 mr-2" ng-repeat="accessories in productDetails.productAccessory track by $index">
                            <div class="mx-2 fontRobotoRegular name-rel">
                                <div>{{accessories}}</div>
                            </div>
                        </div>
                    </div>
                    <fieldset class="d-flex social mt-3 mb-0 save mx-auto" ng-if="accessories">
                        <span class="social_icon">
                            <i class="fas fa-save"></i>
                        </span>
                        <div class="social-text" ng-click="addProduct()">Save</div>
                    </fieldset>
                </div>
                <div class="support-chat-history mb-5 ">
                    <h6 class="fontRobotoBold blue-color my-4 ">SUPPORT CHAT HISTORY</h6>
                    <div class="bg-white border-rounded p-4 my-2 ">
                        <div class="d-flex align-items-center ">
                            <div class="blue-circle "></div>
                            <h6 class="fontRobotoBold font14 ml-2 mb-0 ">BRAND NAME</h6>
                            <span class="font12 font-color ml-2 d-inline-block w-25 text-truncate ">Dear Support Team, Maecenas faucibus mollis interdum. Etiam porta sem malesuada...</span>
                            <div class="ml-auto date-supportchat ">
                                <span class="font12 ">17/2/2018, 5:30 pm</span>
                            </div>
                            <div class="ml-auto green-color ">
                                <span class="font12 ">Closed</span>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white border-rounded p-4 my-2 ">
                        <div class="d-flex align-items-center ">
                            <div class="blue-circle "></div>
                            <h6 class="fontRobotoBold font14 ml-2 mb-0 ">BRAND NAME</h6>
                            <span class="font12 font-color ml-2 d-inline-block w-25 text-truncate ">Dear Support Team, Maecenas faucibus mollis interdum. Etiam porta sem malesuada...</span>
                            <div class="ml-auto date-supportchat ">
                                <span class="font12 ">17/2/2018, 5:30 pm</span>
                            </div>
                            <div class="ml-auto orange-color ">
                                <span class="font12 ">Open</span>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white border-rounded p-4 my-2 ">
                        <div class="d-flex align-items-center ">
                            <div class="blue-circle "></div>
                            <h6 class="fontRobotoBold font14 ml-2 mb-0 ">BRAND NAME</h6>
                            <span class="font12 font-color ml-2 d-inline-block w-25 text-truncate ">Dear Support Team, Maecenas faucibus mollis interdum. Etiam porta sem malesuada...</span>
                            <div class="ml-auto date-supportchat ">
                                <span class="font12 ">17/2/2018, 5:30 pm</span>
                            </div>
                            <div class="ml-auto blue-color ">
                                <span class="font12 ">Draft</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>